<mat-dialog-content>
    <agm-map [latitude]="pickedLat" [longitude]="pickedLon" (mapClick)="onMapClick($event)">
        <agm-marker [latitude]="pickedLat" [longitude]="pickedLon">
            <agm-info-window><p>Aqui</p></agm-info-window>
        </agm-marker>
    </agm-map>
    <div class="row" style="
    font-family: TelefonicaLight;
    position: absolute;
    background: white;
    right: 0;
    top: 0;
    height: 100%;
    width: 25%;
    padding: 48px;">
        <div class="col-md-12 col-xs-12 col-sm-12">

            <button mat-icon-button class="close-ico" [mat-dialog-close]="true">
                <mat-icon>close</mat-icon>
            </button>
            <div class="form-horizontal">
                <h1>
                    <mat-icon class="s-30 mr-sm-4">lock</mat-icon> Georeferencia de la Sede
                </h1>
                <div class="form-group">
                    <div class="col-md-12">
                        <mat-form-field appearance="legacy">
                            <mat-label>Dirección</mat-label>
                            <input matInput placeholder="Dirección" [(ngModel)]="data.direccion">
                        </mat-form-field>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-12">
                        <mat-form-field appearance="legacy">
                            <mat-label>Latitud</mat-label>
                            <input matInput placeholder="Latitud" [(ngModel)]="pickedLat">
                        </mat-form-field>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-12">
                        <mat-form-field appearance="legacy">
                            <mat-label>Longitud</mat-label>
                            <input matInput placeholder="Longitud" [(ngModel)]="pickedLon">
                        </mat-form-field>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-12">
                        <button class="btn btn-md btn-georenferencia" cdkFocusInitial>Guardar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</mat-dialog-content>