<div id="orders" class="page-layout carded fullwidth ">
    <div class="top-bg accent"></div>
    <div class="center">
        <!-- HEADER -->
        <div class="header accent" fxLayout="column" fxLayoutAlign="center center" fxLayout.gt-xs="row" fxLayoutAlign.gt-xs="space-between center">
            <!-- APP TITLE -->
            <div class="logo mb-24 mb-sm-0" fxLayout="row" fxLayoutAlign=" center" style="display: block;width: 100%;">
                <p style="display: block; width: 100%; text-align: center;color: #003245; font-size: 24px;font-weight: bold;" class="logo-text h1" [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">!Hola, María Ramos¡<br/> <span style="font-size: 16px;">Aquí podrás cargar los archivos</span></p>
            </div>
        </div>
        <div>

            <mat-accordion>
                <mat-expansion-panel class="filtro">
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            <!--Personal data-->
                            Cargar Archivos
                        </mat-panel-title>
                        <mat-panel-description>
                            <!--Type your name and age-->
                        </mat-panel-description>
                    </mat-expansion-panel-header>
                    <!-- <form [formGroup]='fromDatosGenerales' (ngSubmit)='clickGuardar()' novalidate>
            

          </form> -->

                    <div class="row">
                        <div class="col-xs-12 col-sm-3">
                            <mat-form-field color="accent">
                                <mat-label class="font-normal">Tablas Maestras</mat-label>
                                <select matNativeControl name="miselect" [formControl]="cboMaestraCtrl" [(ngModel)]="seleccionado">
                  <option value="">--Seleccione--</option>
                  <option [ngValue]="o.id" *ngFor="let o of lista">{{o.nombre}}</option>
                </select>
                                <span matSuffix>&nbsp; &nbsp;</span>
                            </mat-form-field>
                        </div>
                        <div class="col-xs-12 col-sm-3">
                            <mat-form-field>
                                <ngx-mat-file-input [formControl]="FileCtrl" (change)="fileProgress($event)" accept=".csv" placeholder="Seleccionar Archivo"></ngx-mat-file-input>
                                <mat-icon matSuffix>folder</mat-icon>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="row">

                        <div class="col-xs-9">
                            &nbsp;&nbsp;&nbsp;&nbsp;
                        </div>
                        <div class="col-xs-12 col-sm-3" style="text-align: left;">
                            <button class="btn-subir" mat-raised-button color="primary" [class.spinner]="loading" [disabled]="loading" (click)="clickGuardar()">Procesar</button>
                        </div>
                    </div>

                </mat-expansion-panel>
            </mat-accordion>


        </div>


    </div>
    <br/><br/><br/>
</div>


<!--<div class="container container-k mat-elevation-z8">
  
    <mat-table #table [dataSource]="lstBandeja" matSort class="mat-cell">
  
      <ng-container matColumnDef="idoferta">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Id</mat-header-cell>
        <mat-cell *matCellDef="let row" >{{row.idoferta}}</mat-cell>
      </ng-container>
  
      <ng-container matColumnDef="codigo">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Código</mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.codigo}}</mat-cell>
      </ng-container>
  
      <ng-container matColumnDef="version">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Versión</mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.version}}</mat-cell>
      </ng-container>
  
      <ng-container matColumnDef="oportunidad">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Oportunidad</mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.oportunidad}}</mat-cell>
      </ng-container>
  
      <ng-container matColumnDef="cliente">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Cliente</mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.cliente}}</mat-cell>
      </ng-container>
  
      <ng-container matColumnDef="descripcion">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Descripción</mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.descripcion}}</mat-cell>
      </ng-container>
  
      <ng-container matColumnDef="estado">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Estado</mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.estado}}</mat-cell>
      </ng-container>
  
      
      <ng-container matColumnDef="actions">
        <mat-header-cell *matHeaderCellDef>
          <button class="link_basic" mat-icon-button color="primary" (click)="addNew()">
            <mat-icon aria-label="Example icon-button with a heart icon">add</mat-icon>
          </button>
        </mat-header-cell>
  
        <mat-cell *matCellDef="let row; let i=index;">
          <button class="link_basic" mat-icon-button color="accent" (click)="editItem(row)">
            <mat-icon aria-label="Edit">edit</mat-icon>
          </button>
  
          <button class="link_basic" mat-icon-button color="accent" (click)="deleteItem(row)" >
            <mat-icon aria-label="Delete">delete</mat-icon>
          </button>
        </mat-cell>
      </ng-container>
  
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
  </div>-->