<div class="container">
    <h3 mat-dialog-title>¿Quieres eliminar la oferta?</h3>
    
    <div  mat-dialog-actions class="row">
        <div class="col-xs-12 text-right">
            <button mat-raised-button color="accent" class="submit-button btn btn-default btn-sm" aria-label="Cancelar"
            (click)="cancelar()"> Cancelar </button>

            <button mat-raised-button color="accent" class="submit-button btn btn-primary btn-sm" aria-label="Eliminar" [mat-dialog-close]="1"
            style="margin-left: 10px;" (click)="confirmar()"> Eliminar </button>
        </div>
    </div>

</div>