.btn-aceptar {
    font-size: 14px;
    min-width: 100%;
    margin-bottom: 4px;
    border: 1px solid #62CE0E;
    box-sizing: border-box;
    border-radius: 4px;
    color: white !important;
    font-family: TelefonicaLight;
    background: #5BC500 !important;
    height: 48px;
}

.mensaje {
    font-family: TelefonicaLight;
    color: #50535A;
    font-size: 16px;
    margin-bottom: 24px;
}

.mensajeConfirmacion {
    font-family: TelefonicaBold;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 100%;
    align-items: center;
    text-align: center;
    color: #50535A;
}

.imagenConfirmacion {
    margin-bottom: 24px;
    margin-top: 20px;
}