.close-button {
    float: right;
    top: -11px;
    right: -7px;
}

.btn-cancelar {
    font-size: 14px;
    min-width: 100%;
    margin-bottom: 4px;
    background: #FFFFFF;
    border: 1px solid #62CE0E !important;
    box-sizing: border-box;
    border-radius: 4px;
    color: #62CE0E !important;
    font-family: TelefonicaLight;
    height: 40px;
}

.bitacora-dialog {
    width: 500px;
}

.bitacora-dialog .head .title {
    color: #50535A;
    font-size: 18px;
    text-align: center;
}

.bitacora-dialog .head .close {
    text-align: right;
}

.bitacora-dialog .head {
    margin-bottom: 15px;
}

.bitacora-dialog .content-controls .items select {
    max-width: 120px;
}

.bitacora-dialog .content-controls .total {
    color: #50535A;
    font-size: 12px;
}

.bitacora-dialog .content-bottom {
    margin-top: 15px;
}

.bitacora-dialog .content-bottom .bottom button {
    height: 36px;
    min-width: 140px;
    font-size: 15px;
}

.row-color-tb{
    background: #F8F9FA;
  }
  
  .pagination{
    display: table;
    margin: 10px auto;
  }
  
  .pag{
    min-width: 29px;
    height: 29px;
    float: left;
    text-align: center;
    font-size: 11px;
    line-height: 29px;
  }
  
  .btn-pagination{
    background: #FFFFFF;
    border: 1px solid rgba(0, 169, 224, 0.4);
    box-sizing: border-box;
    border-radius: 4px;
    color: #00A9E0;
    margin: 0 2px;
  }
  
  .btn-pagination mat-icon{
    line-height: 26px;
    font-size: 22px !important;
    color: #00A9E0;
  }
  
  .pointer{
    cursor: pointer;
  }

  button.btn-pagination:disabled,
button.btn-pagination[disabled]{
  border: 1px solid rgb(96, 176, 202);
  background-color: rgb(228, 248, 255);
  color: #dbdbdb;
  cursor: no-drop;
}

button.btn-pagination:disabled mat-icon,
button.btn-pagination[disabled] mat-icon{
  color: #dbdbdb;
}