.mat-error{
 
    font-size: 11px;
}

.oferta-head {
    margin: 0;
}

.label-title {
    font-size: 12px;
}

.mat-form-field-appearance-legacy .mat-form-field-infix {
    padding: 0 !important;
}

.font-body-oferta {
    font-size: 11px !important;
}

.content-title-oferta {
    position: absolute;
}

.content-control-oferta {
    height: 70px;
}

.padding-none {
    padding: 0;
}

.padding-l-none {
    padding-left: 0;
}

.padding-r-none {
    padding-right: 0;
}

.btn-guardar-oferta {
    padding: 8px 15px;
    font-size: 15px;
    min-width: 160px;
}

.content-btn-guardar {
    line-height: 50px;
    text-align: right;
    display: table;
    width: 100%;
}

.content-btn-guardar .col{
    display: table-cell;
    padding-right: 5%;

}

.content-btn-guardar .col.col-g{
    display: table-cell;
    width: 30%;
    padding: 0;
}

.content-btn-guardar .col button{
    width: 100%;
    min-width: auto;
}

.cliente-nombre {
    font-size: 11px;
    white-space: nowrap;
    line-height: 65px;
}

.btn-ganada {
    font-size: 14px;
    min-width: 100px;
    background: #FFFFFF;
    border: 1px solid #62CE0E;
    box-sizing: border-box;
    border-radius: 4px;
    color: #62CE0E;
    font-family: TelefonicaLight;
}

.content-btn-ganada {
    line-height: 50px;
}

.section-1 {
    border-right: 1px solid #D8D8D8;
}

.icon {
    font-size: 15px;
    height: auto !important;
    min-height: 0 !important;
}

.space-bottom-oferta {
    margin-bottom: 13px;
    ;
}

.icon-flotante {
    position: absolute;
    margin-top: 2px;
    color: #954B97 !important;
}

.desc-icon-flotante {
    margin-left: 20px;
}

.bg-info {
    background: white;
    border-radius: 12px;
    width: auto !important;
    max-width: 150px;
    margin-bottom: 10px;
    border: 1px solid #954B97;
    padding: 0px 8px;
}

.bg-info label {
    color: #954B97 !important;
}

.sect-info-proy {
    padding: 10px;
    // border: 1px dashed #954B97;
    border-radius: 10px;
    background: #F4F6FB;
}

.text-right {
    text-align: right;
}

.mat-tab-label {
    width: 25% !important;
}

.estado-NO.GO{
    color: #fff;
    background: #FF2C2C;
    padding: 4px 3px;
    border-radius: 15px;
    font-size: 10px;
    font-weight: bold;
}

.estado-GO {
    color: #fff;
    background: #73DE07;
    padding: 4px 3px;
    border-radius: 15px;
    font-size: 10px;
    font-weight: bold;
}
.mat-option.item-auto-clinet
{
    font-size: 12px;
}

.autocompletecliente{

    div &{
        background: #62CE0E;
    }
   

}

.alert_select_af{
    border: 2px solid #f8e08a;
    border-radius: 4px;
    background: #fffbec;
    padding: 5px 3px;
    color: #907513;
    cursor: pointer;
    display: table;
}

.alert_select_af .section{
    display: table-cell;
}

.alert_select_af .texto{
    font-size: 11px;
}

.alert_select_af ._icon_{
    display: table-cell;
    vertical-align: middle;
}

.alert_select_af ._icon_ mat-icon{
    color: #907513;
}

input:disabled {
    color: #756f6f !important;
}

.estado_{
    color: #fff;
    padding: 2px 10px;
    border-radius: 3px;
}

