<div class="row oferta-head">
    <div class="col-xs-12 col-sm-2 section-1">
        <div class="row content-control-oferta">
            <div class="col-sm-6 padding-l-none">
                <div class="">
                    <label class="label-title">Código</label>
                </div>
                <div class="">
                    <span class="font-body-oferta">{{ofertaBase.codigo}}</span>
                </div>
            </div>
            <div class="col-sm-6 padding-r-none">
                <div class="text-center">
                    <label class="label-title">Versión</label>
                </div>
                <div class="text-center">
                    <span class="font-body-oferta" style="font-family: TelefonicaBold;">{{ofertaBase.version}}</span>
                </div>
            </div>
        </div>
        <div class="row content-control-oferta">
            <div class=" content-title-oferta">
                <span class="label-title">Código SalesForce:</span>
            </div>
            <div class="content-control-oferta">
                <mat-form-field color="accent">
                    <span style="font-size: 10px;" class="prefix font-body-oferta" matPrefix>PER- &nbsp;</span>
                    <input autocomplete="off" matInput class="form-control font-body-oferta" placeholder="" name="salesforce">
                </mat-form-field>
            </div>
        </div>
        <div class="row content-control-oferta">
            <div class=" content-title-oferta">
                <span class="label-title">Caso SalesForce:</span>
            </div>
            <div class="">
                <mat-form-field color="accent">
                    <input autocomplete="off" matInput class="form-control font-body-oferta" placeholder="" name="caso">
                </mat-form-field>
            </div>
        </div>
        <div class="row content-control-oferta">
            <div class="">
                <div class="">
                    <label class="label-title">Seguimiento de negocios:</label>
                </div>
                <div class="">
                    <span class="font-body-oferta">{{oferta.segmentonegocio.descripcion}}</span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="content-control-oferta">
                <div class="">
                    <label class="label-title">Ingeniero Preventa:</label>
                </div>
                <div class="">
                    <span class="font-body-oferta">{{oferta.preventa.nombre}}</span>
                </div>
            </div>
            <div class="content-control-oferta">
                <div class="">
                    <label class="label-title">Gerente de cuentas:</label>
                </div>
                <div class="">
                    <span class="font-body-oferta">{{oferta.gerente_cuenta.nombre}}</span>
                </div>
            </div>
            <div class="content-control-oferta">
                <div class="">
                    <label class="label-title">Analista Financiero:</label>
                </div>
                <div class="">
                    <span class="font-body-oferta">{{oferta.analistafinanciero.nombre}}</span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="content-btn-ganada">
                <button class="btn btn-md btn-telefonica-gree-2">Ganado</button>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-sm-10">
        <div class=" content-title-oferta">
            <span class="label-title">Cliente</span>
        </div>
        <div class="row content-control-oferta">
            <div class="col-sm-2 padding-l-none">
                <mat-form-field color="accent">
                    <input autocomplete="off" matInput class="form-control font-body-oferta" placeholder="" value="{{oferta.cliente.codigo_isis}}" name="cliente">
                </mat-form-field>
            </div>
            <div class="col-sm-7 padding-l-none">
               <!-- <label class="font-body-oferta cliente-nombre">20302241598 / KOMATSU-MITSUI MAQUINARIAS PERU S.A.</label>-->
               <label class="font-body-oferta cliente-nombre">{{oferta.cliente.numero_identificador_fiscal}} / {{oferta.cliente.descripcion}}</label>
            </div>
            <!-- <div class="col-sm-3 content-btn-guardar">
                <button class="btn-primary-telefonica btn-guardar-oferta">Guardar</button>
            </div> -->
        </div>
        <div class="row content-control-oferta">
            <div class="col-sm-4 padding-l-none">
                <div class="content-title-oferta">
                    <span class="label-title">Contacto cliente:*</span>
                </div>
                <div class="content-control-oferta">
                    <mat-form-field color="accent">
                        <input autocomplete="off" class="font-body-oferta" value="{{oferta.contacto}}" matInput class="form-control font-body-oferta" placeholder="">
                        <mat-icon class="icon" matSuffix>person_outlin &nbsp;</mat-icon>
                    </mat-form-field>
                </div>

            </div>
            <div class="col-sm-4 ">
                <div class="content-title-oferta">
                    <span class="label-title">Teléfono</span>
                </div>
                <div class="content-control-oferta">
                    <mat-form-field color="accent">
                        <input autocomplete="off" value="{{oferta.telefono_contacto}}" matInput class="form-control font-body-oferta" placeholder="">
                        <mat-icon class="icon" matSuffix>phone &nbsp;</mat-icon>
                    </mat-form-field>
                </div>

            </div>
            <div class="col-sm-4 padding-r-none">
                <div class="content-title-oferta">
                    <span class="label-title">Correo</span>
                </div>
                <div class="content-control-oferta">
                    <mat-form-field color="accent">
                        <input autocomplete="off" value="{{oferta.correo_contacto}}" matInput class="form-control font-body-oferta" placeholder="">
                        <mat-icon class="icon" matSuffix>mail &nbsp;</mat-icon>
                    </mat-form-field>
                </div>

            </div>
        </div>
        <div class="row">
            <div class="col-sm-8 padding-l-none">
                <div class="row">
                    <div class=" content-title-oferta">
                        <span class="label-title">Descripción proyecto:*</span>
                    </div>
                    <div class=" content-control-oferta">
                        <mat-form-field color="accent">
                            <input autocomplete="off" matInput class="form-control font-body-oferta" value="{{oferta.descripcion}}" placeholder="">
                            <mat-icon class="icon" matSuffix>description &nbsp;</mat-icon>
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4 padding-l-none">
                        <div class="content-title-oferta">
                            <span class="label-title">Tipo de proyecto</span>
                        </div>
                        <div class="content-control-oferta">
                            <mat-form-field color="accent">
                                <select matNativeControl class="font-body-oferta">
                        </select>
                            </mat-form-field>
                        </div>

                    </div>
                    <div class="col-sm-4 padding-none">
                        <div class="content-title-oferta">
                            <span class="label-title">Complejidad</span>
                        </div>
                        <div class="content-control-oferta">
                            <mat-form-field color="accent">
                                <select matNativeControl class="font-body-oferta">
                            </select>
                            </mat-form-field>
                        </div>

                    </div>
                    <div class="col-sm-4 padding-r-none">
                        <div class="content-title-oferta">
                            <span class="label-title">Tipo de contrato</span>
                        </div>
                        <div class="content-control-oferta">
                            <mat-form-field color="accent">
                                <select matNativeControl class="font-body-oferta">
                                </select>
                            </mat-form-field>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6 padding-l-none">
                        <div class="content-title-oferta">
                            <span class="label-title">Tiempo de implantación</span>
                        </div>
                        <div class="content-control-oferta">
                            <mat-form-field color="accent">
                                <span class="prefix font-body-oferta" matPrefix>Meses &nbsp;</span>
                                <input autocomplete="off" value="{{oferta.tiempo_implantacion}}" matInput class="form-control font-body-oferta" placeholder="" name="salesforce">
                            </mat-form-field>
                        </div>

                    </div>
                    <div class="col-sm-6 padding-r-none">
                        <div class="content-title-oferta">
                            <span class="label-title">Periodo de contrato</span>
                        </div>
                        <div class="content-control-oferta">
                            <mat-form-field color="accent">
                                <span class="prefix font-body-oferta" value="{{oferta.periodo_contrato}}" matPrefix>Meses &nbsp;</span>
                                <input autocomplete="off" matInput class="form-control font-body-oferta" placeholder="" name="salesforce">
                            </mat-form-field>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6 padding-l-none">
                        <div class=" content-title-oferta">
                            <mat-label class="label-title">Precio único</mat-label>
                        </div>
                        <div class="col-sm-2 padding-none content-control-oferta">
                            <mat-form-field>
                                <select matNativeControl class="font-body-oferta">
                         <option value="" selected>S/.</option>
                     </select>
                            </mat-form-field>
                        </div>
                        <div class="col-sm-10 padding-r-none content-control-oferta">
                            <mat-form-field color="accent">
                                <input autocomplete="off" value="{{oferta.pago_unico}}" matInput class="form-control font-body-oferta" placeholder="">
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="col-sm-6 padding-r-none">
                        <div class=" content-title-oferta">
                            <mat-label class="label-title">Precio recurrente</mat-label>
                        </div>
                        <div class="col-sm-2 padding-none content-control-oferta">
                            <mat-form-field>
                                <select matNativeControl class="font-body-oferta">
                         <option value="" selected>S/.</option>
                     </select>
                            </mat-form-field>
                        </div>
                        <div class="col-sm-10 padding-r-none content-control-oferta">
                            <mat-form-field color="accent">
                                <input autocomplete="off" value="{{oferta.pago_recurrente}}" matInput class="form-control font-body-oferta" placeholder="">
                            </mat-form-field>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6"></div>
                    <div class="col-sm-6 padding-r-none">
                        <div class=" content-title-oferta">
                            <mat-label class="label-title">Fact. recurrente</mat-label>
                        </div>
                        <div class="col-sm-2 padding-none content-control-oferta">
                            <mat-form-field>
                                <select matNativeControl class="font-body-oferta">
                         <option value="" selected>S/.</option>
                     </select>
                            </mat-form-field>
                        </div>
                        <div class="col-sm-10 padding-r-none content-control-oferta">
                            <mat-form-field color="accent">
                                <input autocomplete="off" value="{{oferta.pago_recurrente_actual}}" matInput class="form-control" placeholder="">
                            </mat-form-field>
                        </div>
                    </div>
                </div>


            </div>
            <div class="col-sm-4 padding-r-none">
                <div class="sect-info-proy">
                    <div class="row content-control-oferta">
                        <div class="col-sm-8 padding-l-none">
                            <div class="">
                                <label class="label-title text-center" style="font-weight: normal;">Tipo de servicio:</label>
                            </div>
                            <div class="font-body-oferta">Recurrente</div>
                        </div>
                        <div class="col-sm-4 padding-none text-center">
                            <label class="label-title text-center">Estaso</label>
                            <div class="font-body-oferta"> <span class="estado-go">GO</span></div>
                        </div>
                    </div>
                    <div class="row content-control-oferta">
                        <div class="col-sm-4 padding-l-none">
                            <label class="label-title">VAN/VAI:</label>
                            <div class="font-body-oferta">8%</div>
                        </div>
                        <div class="col-sm-4">
                            <label class="label-title">Payback:</label>
                            <div class="font-body-oferta">23</div>
                        </div>
                        <div class="col-sm-4 padding-none text-center">
                            <label class="label-title text-center">Dif Ingresos:</label>
                            <div class="font-body-oferta text-center">2.9%</div>
                        </div>
                    </div>
                    <div class="row ">
                        <div class="col-sm-7 padding-l-none"><label class="label-title">Capex a solicitar:</label></div>
                        <div class="col-sm-5 padding-l-none text-right"><span class="font-body-oferta">S/.35,000.00</span></div>
                    </div>
                    <div class="row">
                        <div class="col-sm-7 padding-l-none "><label class="label-title">Capex no solicitado:</label></div>
                        <div class="col-sm-5 padding-l-none text-right"><span class="font-body-oferta">S/.2,500.00</span></div>
                    </div>
                    <div class="row ">

                        <div><label class="label-title" style="font-family: TelefonicaBold;">Aprobador</label></div>
                        <div class="bg-info">
                            <mat-icon class="icon icon-flotante" matSuffix>person_outlin &nbsp;</mat-icon>
                            <label class="font-body-oferta desc-icon-flotante">Gerente de cuenta</label>
                        </div>
                        <div class="bg-info">
                            <mat-icon class="icon icon-flotante" matSuffix>person_outlin &nbsp;</mat-icon>
                            <label class="font-body-oferta desc-icon-flotante">Analista financiero</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class=" content-btn-guardar">
                <button class="btn-telefonica-gree btn-guardar-oferta">Guardar</button>
            </div>
        </div>
    </div>
    
</div>