<form class="row oferta-head" (ngSubmit)="submit" #formControl="ngForm">
    <div class="col-xs-12 col-sm-2 section-1">
        <div class="row content-control-oferta">
            <div class="col-sm-6 padding-l-none">
                <div class="">
                    <label class="label-title">Código</label>
                </div>
                <div class="">
                    <span class="font-body-oferta">{{oferta.codigo}}</span>
                </div>
            </div>
            <div class="col-sm-6 padding-r-none">
                <div class="text-center">
                    <label class="label-title">Versión</label>
                </div>
                <div class="text-center">
                    <span class="font-body-oferta" style="font-family: TelefonicaBold;">{{ofertaBase.version}}</span>
                </div>
            </div>
        </div>
        <div class="row content-control-oferta">
            <div class=" content-title-oferta">
                <span class="label-title">Código SalesForce:</span>
            </div>
            <div class="content-control-oferta">
                <mat-form-field color="accent">
                    <input type="text" [(ngModel)]="oferta.oportunidad"  class="form-control font-body-oferta" placeholder="" aria-label="Number" matInput  name="oportunidad" #codigoSalesforce
                           [matAutocomplete]="autoO">
                    <mat-autocomplete class="autocomplete"  #autoO="matAutocomplete" [displayWith]="displayFnOportunidad">
                        <mat-option (onSelectionChange)="onSelectOportunidad(option)" *ngFor="let option of dataSourceOportunidad" [value]="option" class="item-auto-clinet">
                            {{option.oportunidadcodigo}}
                        </mat-option>
                    </mat-autocomplete>
                  </mat-form-field>
            </div>
        </div>
        <div class="row content-control-oferta">
            <div class=" content-title-oferta">
                <span class="label-title">Caso SalesForce:</span>
            </div>
            <div class="">
                <mat-form-field color="accent">
                    <input autocomplete="off" [(ngModel)]="oferta.numeroCasoSalesforce" mask="0*"  matInput class="form-control font-body-oferta" placeholder="" name="numeroCasoSalesforce">
                </mat-form-field>
            </div>
        </div>
        <div class="row">
            <div class="content-control-oferta">
                <div class="">
                    <label class="label-title">Ingeniero Preventa:</label>
                </div>
                <div class="">
                    <span class="font-body-oferta">{{oferta.preventa.nombre}}</span>
                </div>
            </div>
            <div class="content-control-oferta">
                <div class="">
                    <label class="label-title">Gerente de cuentas:</label>
                </div>
                <div class="">
                    <span class="font-body-oferta">{{oferta.cliente.gerente_cuenta | titlecase  }}</span>
                </div>
            </div>
            <div class="content-control-oferta">
                <div class="">
                    <label class="label-title">Analista Financiero:</label>
                </div>
                <div class="">
                    <span class="font-body-oferta">{{oferta.analistafinanciero.nombre}}</span>
                </div>
            </div>
        </div>
        <div class="row" *ngIf="oferta.oferta_id > 0 && oferta.resultado == 'GO'">
            <div class="content-btn-ganada">
                <button class="btn btn-md btn-telefonica-gree-2" (click)="ganarOferta()">Ganado</button>
            </div>
        </div>

        <div class="row" *ngIf="oferta.oferta_id > 0">
            <div class="content-btn-ganada">
                <button class="btn btn-md btn-telefonica-gree-2" (click)="enviarIsis()">Enviar a ISIS

                    <mat-spinner *ngIf="processIsis"  style="display: inline-block; " diameter="15" color="accent"></mat-spinner>

                </button>
            </div>
        </div>

    </div>
    <div class="col-xs-12 col-sm-10">
        <div class=" content-title-oferta">
            <span class="label-title">Cliente</span>
        </div>
        <div class="row content-control-oferta">
            <div class="col-sm-2 padding-l-none">

               <mat-form-field class="example-full-width">
                    <input required type="text" [(ngModel)]="oferta.cliente" class="form-control font-body-oferta"  name="cliente" aria-label="Number" matInput  #myControl
                           [matAutocomplete]="auto">
                           <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
                    <mat-autocomplete class="autocompletecliente"  #auto="matAutocomplete" [displayWith]="displayFn">
                      <mat-option *ngFor="let option of dataSourceCliente" [value]="option" class="item-auto-clinet">
                        {{option.numeroidentificadorfiscal}} | {{option.descripcion}}
                      </mat-option>
                    </mat-autocomplete>
                    
                </mat-form-field>
                  
            </div>
            <div class="col-sm-6 padding-l-none">
               <label class="font-body-oferta cliente-nombre">{{oferta.cliente.numeroidentificadorfiscal}} / {{oferta.cliente.descripcion}}</label>
            </div>
             <div class="col-sm-4 content-control-oferta">
                
                    <div class="">
                        <label class="label-title">Segmento:</label>
                    </div>
                    <div class="">
                        <span class="font-body-oferta">{{oferta.cliente.segmentoNegocio}}</span>
                    </div>
                
            </div> 
        </div>
        <div class="row content-control-oferta">
            <div class="col-sm-4 padding-l-none">
                <div class="content-title-oferta">
                    <span class="label-title">Contacto cliente:*</span>
                </div>
                <div class="content-control-oferta">
                    <mat-form-field color="accent">
                        <input autocomplete="off" required class="font-body-oferta" [(ngModel)]="oferta.contacto"  name="contacto" matInput class="form-control font-body-oferta" placeholder="">
                        <mat-icon class="icon" matSuffix>person_outlin &nbsp;</mat-icon>
                        <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
                    </mat-form-field>
                    
                </div>

            </div>
            <div class="col-sm-4 ">
                <div class="content-title-oferta">
                    <span class="label-title">Teléfono</span>
                </div>
                <div class="content-control-oferta">
                    <mat-form-field color="accent">
                        <input autocomplete="off" [(ngModel)]="oferta.telefono_contacto" name="telefono_contacto" matInput class="form-control font-body-oferta" placeholder="">
                        <mat-icon class="icon" matSuffix>phone &nbsp;</mat-icon>
                    </mat-form-field>
                </div>

            </div>
            <div class="col-sm-4 padding-r-none">
                <div class="content-title-oferta">
                    <span class="label-title">Correo</span>
                </div>
                <div class="content-control-oferta">
                    <mat-form-field color="accent">
                        <input autocomplete="off" [(ngModel)]="oferta.correo_contacto" name="correo_contacto" matInput class="form-control font-body-oferta" placeholder="">
                        <mat-icon class="icon" matSuffix>mail &nbsp;</mat-icon>
                    </mat-form-field>
                </div>

            </div>
        </div>
        <div class="row">
            <div class="col-sm-8 padding-l-none">
                <div class="row">
                    <div class="col-sm-6 padding-l-none">
                        <div class=" content-title-oferta">
                            <span class="label-title">Descripción proyecto:*</span>
                        </div>
                        <div class=" content-control-oferta">
                            <mat-form-field color="accent">
                                <input autocomplete="off" required matInput class="form-control font-body-oferta" [(ngModel)]="oferta.descripcion" name="descripcion" placeholder="">
                                <mat-icon class="icon" matSuffix>description &nbsp;</mat-icon>
                                <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
                            </mat-form-field>
                            
                        </div>
                    </div>


                    <div class="col-sm-6 padding-r-none">
                        <div class=" content-title-oferta">
                            <span class="label-title">Observaciones:*</span>
                        </div>
                        <div class=" content-control-oferta">
                            <mat-form-field color="accent">
                                <input autocomplete="off" matInput class="form-control font-body-oferta" [(ngModel)]="oferta.observaciones" name="observaciones" placeholder="">
                                <mat-icon class="icon" matSuffix>description &nbsp;</mat-icon>
                            </mat-form-field>
                        </div>
                    </div>

                   
                </div>
                <div class="row">
                    <div class="col-sm-4 padding-l-none">
                        <div class="content-title-oferta">
                            <span class="label-title">Tipo de proyecto</span>
                        </div>
                        <div class="content-control-oferta">
                            <mat-form-field color="accent">
                              
                                <mat-select style="margin-top: 6px;" (selectionChange)="selectedchangeTipoProyecto($event.value)" class="font-body-oferta" name="tipoproyecto" [(ngModel)]="oferta.tipoproyecto.id" >
                                    <mat-option [value]="0">-Seleccionar-</mat-option>
                                    <mat-option [value]="o.id" *ngFor="let o of lstTipoProyecto"  >{{o.descripcion}}</mat-option>
                                </mat-select>

                            </mat-form-field>
                        </div>

                    </div>
                    <div class="col-sm-4 padding-none">
                        <div class="content-title-oferta">
                            <span class="label-title">Complejidad</span>
                        </div>
                        <div class="content-control-oferta">
                            <mat-form-field color="accent">

                            <mat-select style="margin-top: 6px;" class="font-body-oferta" name="complejidad" [(ngModel)]="oferta.complejidad.id" >
                                <mat-option [value]="0">-Seleccionar-</mat-option>
                                <mat-option *ngFor="let o of lstComplejidad" [value]="o.id">{{o.descripcion}}</mat-option>
                            </mat-select>

                            </mat-form-field>
                        </div>

                    </div>
                    <div class="col-sm-4 padding-r-none">
                        <div class="content-title-oferta">
                            <span class="label-title">Tipo de contrato</span>
                        </div>
                        <div class="content-control-oferta">
                            <mat-form-field color="accent">

                                <mat-select style="margin-top: 6px;" class="font-body-oferta" name="tipocontrato" [(ngModel)]="oferta.tipocontrato.id" >
                                    <mat-option [value]="0">-Seleccionar-</mat-option>
                                    <mat-option *ngFor="let o of lstTipoContrato" [value]="o.id">{{o.descripcion}}</mat-option>
                                </mat-select>

                            </mat-form-field>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6 padding-l-none">
                        <div class="content-title-oferta">
                            <span class="label-title">Tiempo de implantación</span>
                        </div>
                        <div class="content-control-oferta">
                            <mat-form-field color="accent">
                                <span class="prefix font-body-oferta" matPrefix>Meses &nbsp;</span>
                                <input autocomplete="off" [(ngModel)]="oferta.tiempo_implantacion" mask="0*"  matInput class="form-control font-body-oferta text-center" style="text-align: center;" placeholder="" name="tiempo_implantacion">
                            </mat-form-field>
                        </div>

                    </div>
                    <div class="col-sm-6 padding-r-none">
                        <div class="content-title-oferta">
                            <span class="label-title">Periodo de contrato</span>
                        </div>
                        <div class="content-control-oferta">
                            <mat-form-field color="accent">
                                <span class="prefix font-body-oferta" matPrefix>Meses &nbsp;</span>
                                <input autocomplete="off" matInput [(ngModel)]="oferta.periodo_contrato" mask="0*"  class="form-control font-body-oferta text-center" style="text-align: center;" placeholder="" name="periodo_contrato">
                            </mat-form-field>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6 padding-l-none">
                        <div class=" content-title-oferta">
                            <mat-label class="label-title">Pago único</mat-label>
                        </div>
                        <div class="col-sm-2 padding-none content-control-oferta">
                            <mat-form-field color="accent">
                                <mat-select style="margin-top: 6px;" class="font-body-oferta" name="moneda" [(ngModel)]="oferta.moneda.id" >
                                    <mat-option *ngFor="let m of lstMoneda" [value]="m.id">{{m.descBrv}}</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div class="col-sm-10 padding-r-none content-control-oferta">
                            <mat-form-field color="accent">
                                <input autocomplete="off" [(ngModel)]="oferta.pago_unico" name="pago_unico" mask="0*.00" matInput class="form-control font-body-oferta text-right" placeholder="">
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="col-sm-6 padding-r-none">
                        <div class=" content-title-oferta">
                            <mat-label class="label-title">Pago recurrente</mat-label>
                        </div>
                        <div class="col-sm-2 padding-none content-control-oferta">
                            <mat-form-field color="accent">
                                <mat-select style="margin-top: 6px;" class="font-body-oferta" name="moneda2" [(ngModel)]="oferta.moneda.id" >
                                    <mat-option *ngFor="let m of lstMoneda" [value]="m.id">{{m.descBrv}}</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div class="col-sm-10 padding-r-none content-control-oferta">
                            <mat-form-field color="accent">
                                <input autocomplete="off" [(ngModel)]="oferta.pago_recurrente" name="pago_recurrente" mask="0*.00"  matInput class="form-control font-body-oferta text-right" placeholder="">
                            </mat-form-field>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6"></div>
                    <div class="col-sm-6 padding-r-none" *ngIf="oferta.tipoproyecto.id == 2">
                        <div class=" content-title-oferta">
                            <mat-label class="label-title">Fact. actual</mat-label>
                        </div>
                        <div class="col-sm-2 padding-none content-control-oferta">
                            <mat-form-field color="accent">
                                <mat-select style="margin-top: 6px;" class="font-body-oferta" name="moneda3" [(ngModel)]="oferta.moneda.id" >
                                    <mat-option *ngFor="let m of lstMoneda" [value]="m.id">{{m.descBrv}}</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div class="col-sm-10 padding-r-none content-control-oferta">
                            <mat-form-field color="accent">
                                <input autocomplete="off"  [required]="isRequiredFactActual" [(ngModel)]="oferta.pago_recurrente_actual" name="pago_recurrente_actual" mask="0*.00"  matInput class="form-control text-right" placeholder="">
                                <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
                            </mat-form-field>
                        </div>
                    </div>
                </div>


            </div>
            <div class="col-sm-4 padding-r-none">
                <div class="sect-info-proy">
                    <div class="row content-control-oferta">
                        <div class="col-sm-8 padding-l-none">
                            <div class="">
                                <label class="label-title text-center" style="font-weight: normal;">Tipo de servicio:</label>
                            </div>
                            <div class="font-body-oferta">{{oferta.tiposervicio}}</div>
                        </div>
                        <div class="col-sm-4 padding-none text-center">
                            <label class="label-title text-center">Estado</label>
                            <div class="font-body-oferta"> <span  class="estado-{{oferta.resultado}}">{{oferta.resultado}}</span></div>
                        </div>
                    </div>
                    <div class="row content-control-oferta">
                        <div class="col-sm-4 padding-l-none">
                            <label class="label-title">VAN/VAI:</label>
                            <div class="font-body-oferta">{{(oferta.vanvai * 100) + '%' }}</div>
                        </div>
                        <div class="col-sm-4">
                            <label class="label-title">Payback:</label>
                            <div class="font-body-oferta">{{oferta.payback}}</div>
                        </div>
                        <div class="col-sm-4 padding-none text-center" *ngIf="oferta.tipoproyecto.id == 2">
                            <label class="label-title text-center">Dif Ingresos:</label>
                            <div class="font-body-oferta text-center">{{ oferta.diferencia_ingresos}}%</div>
                        </div>
                    </div>
                    <div class="row ">
                        <div class="col-sm-7 padding-l-none"><label class="label-title">Capex (S/.):</label></div>
                        <div class="col-sm-5 padding-l-none text-right"><span class="font-body-oferta">{{oferta.capex | currency:' '}}</span></div>
                    </div>
                    <div class="row">
                        <div class="col-sm-7 padding-l-none "><label class="label-title">Opex (S/.):</label></div>
                        <div class="col-sm-5 padding-l-none text-right"><span class="font-body-oferta">{{oferta.opex | currency:' '}}</span></div>
                    </div>
                    <div class="row ">

                        <div><label class="label-title" style="font-family: TelefonicaBold;">Aprobador</label></div>
                        <div class="bg-info" *ngFor="let a of oferta.aprobadoresArr">
                            <mat-icon class="icon icon-flotante" matSuffix>person_outlin &nbsp;</mat-icon>
                            <label class="font-body-oferta desc-icon-flotante">{{a}}</label>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class=" content-btn-guardar">
                <button  [disabled]="!formControl.valid" class="btn-telefonica-gree btn-guardar-oferta" (click)="guardarOferta()">Guardar</button>
            </div>
        </div>
    </div>
    
</form>