@media screen and (max-width:580px) and (min-width:500px) {
    .container-padding {
        padding: 3rem;
    }
}

@media screen and (min-width:580px) {
    .container-padding {
        padding: 10px 30px 0px 30px;
    }
}

.submit-cambiocontrasenia {
    width: 100%;
    margin: 16px auto;
    background: #5BC500 !important;
    border-radius: 4px;
    color: #fff !important;
}


/* .modal-cambioContrasenia .mat-dialog-container {
    border-radius: 0px !important;
} */


/* .modal-cambioContrasenia .mat-dialog-container {
    padding: 0;
} */


/* .modal-cambioContrasenia>mat-dialog-container {
    border-radius: 0px !important;
} */