<button mat-icon-button class="close-button" (click)="onCancelcick()">
    <mat-icon class="close-icon" color="warn">close</mat-icon>
</button>
<h1 mat-dialog-title>Documentos Adjuntos</h1>
<mat-divider></mat-divider>
<mat-dialog-content style="max-height: 100vh;overflow: hidden;">

    <div class="row oferta-head">
        <div class="col-xs-12 col-sm-2 col-lg-12">
            <div class="form-horizontal">
                <div class="form-group">
                    <div class="col-xs-12 col-md-1">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-xs-12 col-md-12">
                        <div class="list-item-fileinput">
                            <div class="imagen-excel"></div>
                            <div class="nombrefileinput">
                                <p style="font-family: TelefonicaBold !important;">Nombre-doc.xls</p>
                                <p>247kb</p>
                            </div>
                            <div class="usuariocreafileinput">
                                <p style="font-family: TelefonicaBold !important;">Maria Ramos</p>
                                <p>13/04/2020 | 03:58:21pm</p>
                            </div>
                            <button mat-icon-button class="close-trash" (click)="deleteFile()">
                                <mat-icon class="close-icon" style="color: #00A9E0 !important;" >restore_from_trash</mat-icon>
                            </button>
                        </div>
                        <div class="list-item-fileinput">
                            <div class="imagen-excel"></div>
                            <div class="nombrefileinput">
                                <p style="font-family: TelefonicaBold !important;">Nombre-doc.xls</p>
                                <p>247kb</p>
                            </div>
                            <div class="usuariocreafileinput">
                                <p style="font-family: TelefonicaBold !important;">Maria Ramos</p>
                                <p>13/04/2020 | 03:58:21pm</p>
                            </div>
                            <button mat-icon-button class="close-trash">
                                <mat-icon class="close-icon" style="color: #00A9E0 !important;" >restore_from_trash</mat-icon>
                            </button>
                        </div>
                        <div class="list-item-fileinput">
                            <div class="imagen-excel"></div>
                            <div class="nombrefileinput">
                                <p style="font-family: TelefonicaBold !important;">Nombre-doc.xls</p>
                                <p>247kb</p>
                            </div>
                            <div class="usuariocreafileinput">
                                <p style="font-family: TelefonicaBold !important;">Maria Ramos</p>
                                <p>13/04/2020 | 03:58:21pm</p>
                            </div>
                            <button mat-icon-button class="close-trash">
                                <mat-icon class="close-icon" style="color: #00A9E0 !important;" >restore_from_trash</mat-icon>
                            </button>
                        </div>
                        <div class="list-item-fileinput">
                            <div class="imagen-excel"></div>
                            <div class="nombrefileinput">
                                <p style="font-family: TelefonicaBold !important;">Nombre-doc.xls</p>
                                <p>247kb</p>
                            </div>
                            <div class="usuariocreafileinput">
                                <p style="font-family: TelefonicaBold !important;">Maria Ramos</p>
                                <p>13/04/2020 | 03:58:21pm</p>
                            </div>
                            <button mat-icon-button class="close-trash">
                                <mat-icon class="close-icon" style="color: #00A9E0 !important;" >restore_from_trash</mat-icon>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-8 col-md-2">
                        <button mat-flat-button class="btn-cancelar" (click)="onCancelcick()">{{cancelButtonText}}</button>
                    </div>
                    <div class="col-md-2">
                        <button mat-flat-button class="btn-aceptar" (click)="onConfirmClick()" tabindex="1">{{confirmButtonText}}</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- <div class="row text-center imagenConfirmacion">
        <img src="../../../.../../../../../assets/images/icon/ico-error.png" class="logoPrincipalLogin">
    </div>
    <div class="row text-center">
        <p class="mensajeConfirmacion" class="mensajeConfirmacion">!Atento!</p>
    </div>
    <div class="row text-center">
        <p class="mensaje">
            {{message}}
        </p>
    </div>
    <br> -->
</mat-dialog-content>