<button mat-icon-button class="close-button" (click)="onCancelcick()">
    <mat-icon class="close-icon">close</mat-icon>
</button>
<h1 mat-dialog-title>Documentos Adjuntos</h1>
<mat-divider></mat-divider>
<mat-dialog-content style="max-height: 100vh;overflow: hidden;">
    <div class="row oferta-head">
        <div class="col-xs-12 col-sm-2 col-lg-12">
            <div class="form-horizontal">
                <div class="form-group">
                    <div class="col-xs-12 col-md-12">
                        <div class="container-fileinput">
                            <h1 style="font-size: 22px;font-family: TelefonicaBold;">!Hola, María</h1>
                            <p style="font-size: 16px;">Recuerda subir tu archivo en <strong>Formato excel (XLS)</strong></p>
                            <br>
                            <br>
                            <button mat-flat-button class="btn-subir-archivo" (click)="onClick()">  
                                <mat-icon>cloud_upload</mat-icon>   Subir Archivo   
                            </button>
                            <input type="file" #fileUpload id="fileUpload" name="fileUpload" multiple="multiple" style="display:none;" />
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-xs-12 col-md-12">
                        <div class="list-item-fileinput" *ngFor="let item of listArchivo; let i = index">
                            <div class="imagen-excel"></div>
                            <div class="nombrefileinput">
                                <p style="font-family: TelefonicaBold !important;">{{item.tx_nombre_archivo}}</p>
                                <p>{{item.tx_tamanioArchivo}}</p>
                            </div>
                            <div class="usuariocreafileinput">
                                <p style="font-family: TelefonicaBold !important;text-transform: capitalize !important;">{{item.usuario.nombres}} {{item.usuario.apellidos}}</p>
                                <p>{{item.tx_fechacrea}} | {{item.tx_horacrea}}</p>
                            </div>
                            <button mat-icon-button class="close-trash" (click)="deleteFile()">
                                <mat-icon class="close-icon" style="color: #00A9E0 !important;" >restore_from_trash</mat-icon>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-8 col-md-2">
                        <button mat-flat-button class="btn-cancelar" (click)="onCancelcick()">{{cancelButtonText}}</button>
                    </div>
                    <div class="col-md-2">
                        <button mat-flat-button class="btn-guardar" (click)="btnGuardarARchivo()" tabindex="1">{{confirmButtonText}}</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</mat-dialog-content>