<div id="orders" class="page-layout carded fullwidth ">
    <div class="top-bg accent"></div>
    <div class="center" style="padding-top: 30px;">


        <div>

            <mat-card>
                <div class="row">
                    <div class="col-xs-12 col-sm-5 padding-l-none">
                        <mat-form-field appearance="outline" color="accent" class="gray-seatrch" style="height: 40px;min-width: 60%;">
                            <input #filter matInput placeholder="Buscar" autocomplete="off" class="form-control">
                            <mat-icon matPrefix class="icon gray-seatrch">search</mat-icon>
                        </mat-form-field>
                    </div>
                    <div class="col-xs-12 col-sm-3 padding-l-none">
                        <div class="content-filtro-icon" (click)="visible_filtro=!visible_filtro">
                            <mat-icon aria-label="Example icon-button with a heart icon">filter_list</mat-icon>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-4">
                        <a href="/gestion-propuesta/oferta" target="_blank" class="btn-primary-telefonica">
                            <mat-icon class="icon" aria-label="Example icon-button with a heart icon">add</mat-icon>
                            Nueva Oferta
                        </a>
                    </div>
                    <div class="col-xs-12 padding-none" *ngIf="visible_filtro">
                        <div class="row">
                            <div class="col-xs-12 col-sm-3 padding-l-none">
                                <mat-form-field>
                                    <input autocomplete="off" matInput [(ngModel)]="_filtro.codoportunidad" class="form-control" placeholder="Cód. Oportunidad" name="salesforce">
                                    <span class="icon" matSuffix># &nbsp;</span>
                                </mat-form-field>
                            </div>
                            <div class="col-xs-12 col-sm-3">
                                <mat-form-field>
                                    <input autocomplete="off" [(ngModel)]="_filtro.cliente" matInput  class="form-control" placeholder="Cliente" name="cliente">
                                    <mat-icon class="icon" matSuffix>person_outlin &nbsp;</mat-icon>
                                </mat-form-field>
                            </div>
                            <div class="col-xs-12 col-sm-6 padding-r-none">
                                <mat-form-field style="width: 100%;">
                                    <input autocomplete="off" [(ngModel)]="_filtro.descripcion" matInput #descripcion class="form-control" placeholder="Descripción" name="descripcion">
                                    <mat-icon class="icon" matSuffix>description &nbsp;</mat-icon>
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12 col-sm-3 padding-l-none">
                                <mat-form-field>
                                    <mat-label class="font-normal">Complejidad</mat-label>
                                    <select matNativeControl [(ngModel)]="_filtro.complejidad" name="tipocosto" class="form-control">
                                        <option value="" selected>Seleccionar</option>
                                        <option *ngFor="let c of lstComplejidad" [ngValue]="c.complejidadCodigo">{{c.complejidadTipologiaDescrip}}</option>
                                    </select>
                                    <span matSuffix>&nbsp; &nbsp;</span>
                                </mat-form-field>
                            </div>
                            <div class="col-xs-12 col-sm-3">
                                <mat-form-field>
                                    <mat-label class="font-normal">Estado</mat-label>
                                    <select matNativeControl [(ngModel)]="_filtro.estado" class="form-control" name="tipocompra">
                                        <option value="" selected>Seleccionar</option>
                                        <option *ngFor="let cl of lstEstado" [ngValue]="cl.id">{{cl.descripcion}}</option>
                                    </select>
                                    <span matSuffix>&nbsp; &nbsp;</span>
                                </mat-form-field>
                            </div>
                            <div class="col-xs-12 col-sm-3">

                                <mat-form-field >
                                    <mat-label>Desde</mat-label>
                                    <input [(ngModel)]="_filtro.desde"  matInput [matDatepicker]="desde" class="form-control">
                                    <mat-datepicker-toggle matSuffix [for]="desde"></mat-datepicker-toggle>
                                    <mat-datepicker #desde></mat-datepicker>
                                  </mat-form-field>
                                  
                            </div>
                            <div class="col-xs-12 col-sm-3 padding-r-none">

                                <mat-form-field>
                                    <mat-label>Hasta</mat-label>
                                    <input [(ngModel)]="_filtro.hasta" matInput [matDatepicker]="hasta" class="form-control">
                                    <mat-datepicker-toggle matSuffix [for]="hasta"></mat-datepicker-toggle>
                                    <mat-datepicker #hasta></mat-datepicker>
                                  </mat-form-field>

                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12 padding-l-none">
                                <mat-checkbox class="example-margin font-normal" [(ngModel)]="checked" style="font-size: 12px;font-weight: normal;">Visualizar las plantilla de proyectos de todos los preventas</mat-checkbox>
                            </div>

                        </div>
                        <div class="row">

                            <div class="col-xs-7">
                                &nbsp;&nbsp;&nbsp;&nbsp;
                            </div>
                            <div class="col-xs-12 col-sm-5 padding-r-none text-right">
                                
                                <button (click)="limpiar()" class="btn-telefonica-gree-2">
                                    Limpiar
                                </button> &nbsp;&nbsp;
                                <button (click)="filtrarData()" class="btn-telefonica-gree">
                                    Buscar
                                </button>

                            </div>
                        </div>
                    </div>
                </div>
            </mat-card>
            <br/>
            <mat-card>
                <div class="row content-control-tabla">
                    <div class="col-xs-12 col-sm-2 padding-none">
                        <button (click)="descargar_excel()" style="height: 36px; padding: 0 36px;" class="btn-telefonica-gree-2">
                        Descargar
                    </button>
                    </div>
                    <div class="col-xs-12 col-sm-1 control-bandeja-tabla">

                        <mat-form-field class="control-page-item" color="accent" style="margin-left: -30px;min-width: 90px;">
                    <select matNativeControl #pagesize>
                        <option value="5" selected>5 por pagina</option> 
                        <option value="10" >10 por pagina</option> 
                        <option value="25" >25 por pagina</option> 
                        <option value="50" >50 por pagina</option> 
                        <option value="100" >100 por pagina</option> 
                    </select>
                        </mat-form-field>
                    </div>
                    <div class="col-xs-12 col-sm-9 text-right control-bandeja-tabla padding-none">
                        <button (click)="loadData()" class="btn-telefonica-2" style="min-height: 36px;">
                        <span> <mat-icon class="icon">refresh</mat-icon> Actualizar </span>
                    </button>
                    <span style="font-size: 12px;margin-left: 10px;">Total: {{dataSource.totalRegistros}}</span>
                    </div>
                </div>
                <div class="content-table">
                    <mat-table class="mat-cell oferta-bandeja" #tbofertabandeja [dataSource]="dataSource" matSort [@animateStagger]="{value:'50'}" fusePerfectScrollbar>

                        <ng-container matColumnDef="codigo">
                            <mat-header-cell *matHeaderCellDef mat-sort-header>Código PP</mat-header-cell>
                            <mat-cell *matCellDef="let row">
                                <a target="_blank" href="{{row.url}}">
                                    {{row.codigo}}
                                  </a>                                 
                            </mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="version">
                            <mat-header-cell *matHeaderCellDef mat-sort-header>Versión</mat-header-cell>
                            <mat-cell *matCellDef="let row"> {{row.version}}</mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="oportunidad">
                            <mat-header-cell *matHeaderCellDef mat-sort-header>Oportunidad</mat-header-cell>
                            <mat-cell *matCellDef="let row"> {{row.oportunidad}}</mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="cliente">
                            <mat-header-cell *matHeaderCellDef mat-sort-header>Cliente</mat-header-cell>
                            <mat-cell *matCellDef="let row"> {{row.cliente}}</mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="descripcion">
                            <mat-header-cell *matHeaderCellDef mat-sort-header>Descripción</mat-header-cell>
                            <mat-cell *matCellDef="let row"> {{row.descripcion}}</mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="estado">
                            <mat-header-cell *matHeaderCellDef mat-sort-header>Estado</mat-header-cell>
                            <mat-cell *matCellDef="let row"> <span  [ngStyle]="{'background': row.color}" class="estado-cell" > {{row.estado}}</span> </mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="menu">
                            <mat-header-cell *matHeaderCellDef class="mat-column-menu">

                            </mat-header-cell>

                            <mat-cell class="mat-column-menu" *matCellDef="let row; let i=index;">
                                <mat-menu #appMenu="matMenu">
                                    <button style="font-size: 12px;" mat-menu-item><mat-icon style="font-size: 15px; margin:5px 0 0 0;">visibility</mat-icon> Ver historial de versiones</button>
                                    <button style="font-size: 12px;" mat-menu-item><mat-icon style="font-size: 15px; margin:5px 0 0 0;">add</mat-icon> Generar nueva version</button>
                                    <button style="font-size: 12px;" mat-menu-item><mat-icon style="font-size: 15px; margin:5px 0 0 0;">file_copy</mat-icon> Duplicar plantilla</button>
                                    <button style="font-size: 12px;" mat-menu-item><mat-icon style="font-size: 15px; margin:5px 0 0 0;">clear</mat-icon> Anular plantilla de proyecto</button>
                                    <button style="font-size: 12px;" mat-menu-item><mat-icon style="font-size: 15px; margin:5px 0 0 0;">show_chart</mat-icon> Seguimiento de estado</button>
                                </mat-menu>

                                <a style="cursor:pointer;color: #979797;" mat-icon-button [matMenuTriggerFor]="appMenu">
                                    <mat-icon>more_vert</mat-icon>
                                </a>
                            </mat-cell>
                        </ng-container>


                        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                        <mat-row *matRowDef="let row; columns: displayedColumns; let i = index;" [ngClass]=" i % 2 != 0 ? 'row-color-tb' : ''"></mat-row>
                    </mat-table>
                </div>

               <!-- <mat-paginator #paginator [length]="dataSource.filteredData.length" [pageIndex]="0" [pageSize]="5" [pageSizeOptions]="[5, 10, 25, 100]">
                </mat-paginator> -->

                <div class="text-center m-t-10 pagination">
                    <div class="pag btn-pagination pointer" (click)="paginar(-1)">
                        <mat-icon class="icon" >keyboard_arrow_left</mat-icon>
                    </div>
                    <div class="pag text-pag">Página</div>
                    <div class="pag btn-pagination text-pag">{{pageIndex+1}}</div>
                    <div class="pag text-pag">de {{dataSource.totalPages}}</div>
                    <div class="pag btn-pagination pointer" (click)="paginar(01)">
                        <mat-icon class="icon" >keyboard_arrow_right</mat-icon>
                    </div>
                </div>

            </mat-card>
        </div>

        <table id="excel-table" style="display: none;">
            <tr>
                <th>Codígo</th>
                <th>Version</th>
                <th> Oportunidad</th>
                <th>Cliente</th>
                <th>Descripción</th>
                <th>Estado</th>
            </tr>
            <tr *ngFor="let ds of dataSource.renderedData">
                <td>{{ ds.codigo}}</td>
                <td>{{ ds.version }}</td>
                <td>{{ ds.oportunidad }}</td>
                <td>{{ ds.cliente }}</td>
                <td>{{ ds.descripcion }}</td>
                <td>{{ ds.estado }}</td>
            </tr>
        </table>

    </div>
    <br/><br/>
</div>