<div id="orders" class="page-layout carded fullwidth inner-scroll">
  <div class="top-bg accent"></div>
  <div class="center">
      <!-- HEADER -->
      <div class="header accent" fxLayout="column" fxLayoutAlign="center center"
            fxLayout.gt-xs="row" fxLayoutAlign.gt-xs="space-between center">

          <!-- APP TITLE -->
          <div class="logo mb-24 mb-sm-0"
                fxLayout="row" fxLayoutAlign=" center" style="display: block;width: 100%;">
             
              <p style="display: block; width: 100%; text-align: center;color: #003245; font-size: 24px;font-weight: bold;" class="logo-text h1" [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">!Hola, María Ramos¡<br/> <span style="font-size: 16px;">Aquí podrás consultar y realizar nuevas peticiones</span></p>
          </div>
          <!-- / APP TITLE -->

          <!-- SEARCH -->
          <!--<div class="search-wrapper  ml-sm-32">
              <div class="search" fxFlex fxLayout="row" fxLayoutAlign="start center">
                  <mat-icon>search</mat-icon>
                  <input #filter placeholder="Search for an order">
              </div>
          </div>-->
          <!-- / SEARCH --> 

      </div>
      <!-- / HEADER -->
    <div>
     
      <button style="background: linear-gradient(90deg, #980098 0%, #CE0ECE 100%);border-radius: 10px;color: #fff;font-size: 13px;padding: 5px 15px 0px 15px;margin-bottom: 10px;" class="link_basic" mat-icon-button color="primary" (click)="addNew()">
        <mat-icon style="font-size: 15px;" aria-label="Example icon-button with a heart icon">add</mat-icon>
        Nueva oferta
      </button>
    </div>
      <div class="content-card">
        <mat-table class="orders-table"
                      #table [dataSource]="lstBandeja"
                       matSort
                        class="mat-cell"
                       [@animateStagger]="{value:'50'}"
                       fusePerfectScrollbar>

                      <ng-container matColumnDef="menu">
                          <mat-header-cell *matHeaderCellDef>
                            
                          </mat-header-cell>

                        <mat-cell *matCellDef="let row; let i=index;">
                          <mat-menu #appMenu="matMenu">
                            <button mat-menu-item>Ver pertición</button>
                            <button mat-menu-item>Ceco</button>
                          </mat-menu>
                          
                          <a style="cursor:pointer;color: #2493B4;" mat-icon-button [matMenuTriggerFor]="appMenu">
                            <mat-icon>more_vert</mat-icon>
                          </a>
                         </mat-cell>
                      </ng-container>

                      <ng-container matColumnDef="codigo">
                        <mat-header-cell *matHeaderCellDef mat-sort-header>Código</mat-header-cell>
                        <mat-cell *matCellDef="let row"> {{row.codigo}}</mat-cell>
                      </ng-container> 

                       <ng-container matColumnDef="version">
                        <mat-header-cell *matHeaderCellDef mat-sort-header>Versión</mat-header-cell>
                        <mat-cell *matCellDef="let row"> {{row.version}}</mat-cell>
                      </ng-container>
                  
                      <ng-container matColumnDef="oportunidad">
                        <mat-header-cell *matHeaderCellDef mat-sort-header>Oportunidad</mat-header-cell>
                        <mat-cell *matCellDef="let row"> {{row.oportunidad}}</mat-cell>
                      </ng-container>
                  
                      <ng-container matColumnDef="cliente">
                        <mat-header-cell *matHeaderCellDef mat-sort-header>Cliente</mat-header-cell>
                        <mat-cell *matCellDef="let row"> {{row.cliente.descripcion}}</mat-cell>
                      </ng-container>
                  
                      <ng-container matColumnDef="descripcion">
                        <mat-header-cell *matHeaderCellDef mat-sort-header>Descripción</mat-header-cell>
                        <mat-cell *matCellDef="let row"> {{row.descripcion}}</mat-cell>
                      </ng-container>
                  
                      <ng-container matColumnDef="estado">
                        <mat-header-cell *matHeaderCellDef mat-sort-header>Estado</mat-header-cell>
                        <mat-cell *matCellDef="let row"> {{row.estado.descripcion}}</mat-cell>
                      </ng-container>
                  
                      
                      <ng-container matColumnDef="actions">
                        <mat-header-cell *matHeaderCellDef>
                          

                         <!-- <button class="link_basic" mat-icon-button color="primary" (click)="getofertasAll()">
                            <mat-icon aria-label="Example icon-button with a heart icon">cached</mat-icon>
                          </button>-->

                          

                        </mat-header-cell>
                  
                        <mat-cell *matCellDef="let row; let i=index;">
                          <button class="link_basic" mat-icon-button color="accent" (click)="editItem(row)">
                            <mat-icon aria-label="Edit">edit</mat-icon>
                          </button>
                  
                          <button class="link_basic" mat-icon-button color="accent" (click)="deleteItem(row)" >
                            <mat-icon aria-label="Delete">delete</mat-icon>
                          </button>

                         


                        </mat-cell>
                      </ng-container>
                  
                      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
                      </mat-table>
      </div>

  </div>
</div>


<!--<div class="container container-k mat-elevation-z8">

  <mat-table #table [dataSource]="lstBandeja" matSort class="mat-cell">

    <ng-container matColumnDef="idoferta">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Id</mat-header-cell>
      <mat-cell *matCellDef="let row" >{{row.idoferta}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="codigo">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Código</mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.codigo}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="version">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Versión</mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.version}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="oportunidad">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Oportunidad</mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.oportunidad}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="cliente">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Cliente</mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.cliente}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="descripcion">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Descripción</mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.descripcion}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="estado">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Estado</mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.estado}}</mat-cell>
    </ng-container>

    
    <ng-container matColumnDef="actions">
      <mat-header-cell *matHeaderCellDef>
        <button class="link_basic" mat-icon-button color="primary" (click)="addNew()">
          <mat-icon aria-label="Example icon-button with a heart icon">add</mat-icon>
        </button>
      </mat-header-cell>

      <mat-cell *matCellDef="let row; let i=index;">
        <button class="link_basic" mat-icon-button color="accent" (click)="editItem(row)">
          <mat-icon aria-label="Edit">edit</mat-icon>
        </button>

        <button class="link_basic" mat-icon-button color="accent" (click)="deleteItem(row)" >
          <mat-icon aria-label="Delete">delete</mat-icon>
        </button>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
</div>-->
