.container-k{
  width:95%; 
  margin: 15px auto 0px auto;
}
table {
  width: 100%;
}

.link_basic{
  border:0;
  background: transparent;
  color: #3f51b5;
  cursor:pointer;
}

span.clestado{
  min-width: 100px;
  text-align: center;
  border-radius: 2px;
  margin: 0 3px;
  color: #fff;
}

.btn-nuevo,.btn-nuevo:hover{
  background: linear-gradient(90deg, #980098 0%, #CE0ECE 100%);
  border-radius: 10px;
  color: #fff;
  text-decoration: none !important;
  padding-bottom: 10px;
  font-size: 13px;
  padding: 5px 15px 0px 15px;
  margin-bottom: 15px;
  cursor: pointer;
  width: 136px;
  
}

.control-page-item{
  font-size: 12px;
  text-align: center;
}

.control-bandeja-tabla{
  height: 48px;
}

.control-bandeja-tabla mat-icon{
  line-height: 40px;;
}

.content-control-tabla{
  border-bottom: 1px solid #E9EAE8;
}



.content-table{
  width: 100%;
  display: block;
  overflow-y: auto;
}

.oferta-bandeja .mat-header-row .mat-column-menu,
.oferta-bandeja .mat-row .mat-column-menu{
    flex: 0 0 50px;
}

.mat-column-cliente{
  flex: 0 0 210px;
}


.mat-column-descripcion{
  flex: 0 0 280px;
}

.mat-column-oportunidad{
  flex: 0 0 200px;
}

.content-filtro-icon{
  width: auto;
    background: #FFFFFF;
    border: 0.5px solid #D3D4D3;
    box-sizing: border-box;
    border-radius: 4px;
    height: 36px;
    display: inline-block;
    line-height: 42px;
    padding: 0 10px;
    cursor: pointer;
}

.oferta-bandeja .mat-header-row
{
    background: #F4F6FB;
    border-radius: 5px;
    min-height: 45px !important;
}

.row-color-tb{
  background: #F8F9FA;
}

.pagination{
  display: table;
  margin: 10px auto;
}

.pag{
  min-width: 29px;
  height: 29px;
  float: left;
  text-align: center;
  font-size: 11px;
  line-height: 29px;
}

.btn-pagination{
  background: #FFFFFF;
  border: 1px solid rgba(0, 169, 224, 0.4);
  box-sizing: border-box;
  border-radius: 4px;
  color: #00A9E0;
  margin: 0 2px;
}

.btn-pagination mat-icon{
  line-height: 26px;
  font-size: 22px !important;
  color: #00A9E0;
}

.pointer{
  cursor: pointer;
}

.m-t-10{
  margin-top: 10px;
}

.text-pag{
  color: #50535A;
}

.estado-cell{
  color: #fff;
  padding: 1px 4px;
  border-radius: 3px;
}

button.btn-pagination:disabled,
button.btn-pagination[disabled]{
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
  cursor: no-drop;
}

button.btn-pagination:disabled mat-icon,
button.btn-pagination[disabled] mat-icon{
  color: #666666;
}