@import "src/@fuse/scss/fuse";

toolbar {
    position: relative;
    display: flex;
    flex: 0 0 auto;
    z-index: 4;

    &.below {
        z-index: 2;
    }

    .mat-toolbar {
        position: relative;
        background: inherit !important;
        color: inherit !important;
    }

    .logo {
        display: flex;
        align-items: center;

        .logo-icon {
            width: 38px;
        }
    }

    .user-button,
    fuse-search-bar,
    .language-button,
    .chat-panel-toggle-button,
    .quick-panel-toggle-button {
        min-width: 64px;
        height: 64px;

        @include media-breakpoint('xs') {
            height: 56px;
        }
    }

    .navbar-toggle-button {
        min-width: 56px;
        height: 56px;
    }

    .toolbar-separator {
        height: 64px;
        width: 1px;

        @include media-breakpoint('xs') {
            height: 56px;
        }
    }
}

.name-user-toolbar{
    font-size: 11px;
    color: #50535A;
    text-align: right;
}

.name-user-toolbar .nombre{
    font-weight: bold;
}


.content-iniciales{
    border-radius: 50%;
    border: none;
    background: #954B97;
    font-size: 13px;
    color: #f9fafb;
}

.content-iniciales span{
    font-size: 13px;
    color: #FFF;
    font-weight: bold;
}

.logoK{
width: 70%;
}