.btn-cancelar {
    font-size: 14px;
    min-width: 100px;
    background: #FFFFFF;
    border: 1px solid #62CE0E;
    box-sizing: border-box;
    border-radius: 4px;
    color: #62CE0E;
    font-family: TelefonicaLight;
    margin-bottom: 4px;
}

.btn-aceptar {
    margin-bottom: 4px;
    font-size: 14px;
    min-width: 100px;
    border: 1px solid #62CE0E;
    box-sizing: border-box;
    border-radius: 4px;
    color: white;
    font-family: TelefonicaLight;
    background: #5BC500;
}

.custom-modalbox .mat-dialog-container {
    overflow: hidden;
    border-radius: 5px;
    padding: 5px;
}

::ng-deep .mat-dialog-container {
    overflow: hidden !important;
}