<div class="text-right">
    <button mat-icon-button class="close-ico" (click)="onCancelcick()">
        <mat-icon>close</mat-icon>
    </button>
</div>

<mat-dialog-content>
    <div *ngIf="!data.hiddenlogo" class="row text-center imagenConfirmacion">
        <img src="../../../.../../../../../assets/images/icon/ico-error.png" class="logoPrincipalLogin">
    </div>
    <div *ngIf="!data.hiddentitle" class="row text-center">
        <p class="mensajeConfirmacion" class="mensajeConfirmacion">!Atento!</p>
    </div>
    <div class="row text-center">
        <br/>
        <p class="mensaje">
            {{message}}
        </p>
    </div>
    <br>
    <div class="row" style="margin-bottom: 24px;">
        <div class="col-sm-6">
            <button class="btn btn-md btn-cancelar" (click)="onCancelcick()">{{cancelButtonText}}</button>
        </div>
        <div class="col-sm-6">
            <button class="btn btn-md btn-aceptar" (click)="onConfirmClick()" tabindex="1">{{confirmButtonText}}</button>
        </div>
    </div>
</mat-dialog-content>