<mat-dialog-content>
    <div class="row">
        <img src="" alt="">
    </div>
    <h1 style="font-family: TelefonicaBold;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 100%;
    display: flex;
    align-items: center;
    text-align: center;
    color: #E9426D;">!Atento!</h1>
    <div class="row">
        <p>
            {{message}}
        </p>
    </div>

</mat-dialog-content>
<mat-dialog-actions align="center">
    <div class="row">
        <div class="col-sm-6">
            <button mat-raised-button class="btn btn-md btn-aceptar" (click)="onConfirmClick()" tabindex="1">{{confirmButtonText}}</button>
        </div>
        <div class="col-sm-6">
            <button mat-raised-button class="btn btn-md btn-cancelar" mat-dialog-close tabindex="-1">{{cancelButtonText}}</button>
        </div>
    </div>
</mat-dialog-actions>