<button mat-icon-button class="close-button" (click)="onCancelcick()">
    <mat-icon class="close-icon">close</mat-icon>
</button>
<h1 style="text-align: center;font-size: 18px;line-height: 16px;margin-bottom: 28px;"> {{titulo}} </h1>
<mat-divider></mat-divider>
<mat-dialog-content style="max-height: 100vh;overflow: hidden;">    
    <div class="row oferta-head">
        <div class="col-xs-12 col-sm-2 col-lg-12">
            <div class="form-horizontal">
                <br>    
                <br>                    
                <div class="form-group">
                    <label class="col-md-2">FCV</label>
                    <div class="col-md-10">
                        <mat-form-field color="accent" appearance="outline">
                            <input autocomplete="off"  [(ngModel)]="row.fullcontracvalue" type="number"   matInput  placeholder="">
                            <mat-icon class="icon" matSuffix>info &nbsp;</mat-icon>                            
                        </mat-form-field>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2">Aprobador</label>
                    <div class="col-md-10">
                        <mat-form-field color="accent" appearance="outline">
                            <input autocomplete="off"  [(ngModel)]="row.aprobador" type="text"   matInput  placeholder="">                        
                        </mat-form-field>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2">VAN/VAI</label>
                    <div class="col-md-5">
                        <mat-form-field color="accent" appearance="outline">
                            <input autocomplete="off"  [(ngModel)]="row.vanvaimayor" type="text"   matInput  placeholder="">                            
                            <mat-icon class="icon" matTooltip="Mayor" matSuffix>info &nbsp;</mat-icon>                            
                        </mat-form-field>
                    </div>                 
                    <div class="col-md-5">
                        <mat-form-field color="accent" appearance="outline">
                            <input autocomplete="off"  [(ngModel)]="row.vanvaimenor" type="text"   matInput  placeholder="">                            
                            <mat-icon class="icon" matTooltip="Menor" matSuffix>info &nbsp;</mat-icon>                            
                        </mat-form-field>
                    </div>              
                </div>
                <div class="form-group">
                    <label class="col-md-2">PB</label>
                    <div class="col-md-5">
                        <mat-form-field color="accent" appearance="outline">
                            <input autocomplete="off"  [(ngModel)]="row.paybackmayor" type="text"   matInput  placeholder="">                            
                            <mat-icon class="icon" matTooltip="Mayor" matSuffix>info &nbsp;</mat-icon>                            
                        </mat-form-field>
                    </div>                 
                    <div class="col-md-5">
                        <mat-form-field color="accent" appearance="outline">
                            <input autocomplete="off"  [(ngModel)]="row.paybackmenor" type="text"   matInput  placeholder="">                            
                            <mat-icon class="icon" matTooltip="Menor" matSuffix>info &nbsp;</mat-icon>                            
                        </mat-form-field>
                    </div>           
                </div>
                <br>                    
                <div class="form-group">
                    <div class="col-sm-6">
                        <button class="btn btn-md btn-cancelar" (click)="onCancelcick()">{{cancelButtonText}}</button>
                    </div>
                    <div class="col-sm-6">
                        <button class="btn btn-md btn-aceptar" (click)="onConfirmClick()" tabindex="1">{{confirmButtonText}}</button>
                    </div>
                </div>
                <br>    
            </div>
        </div>
    </div>
</mat-dialog-content>