.oferta-head {
    margin: 0;
    background: #FFFFFF;
    border-radius: 10px;
    padding: 15px 0;
}

.btn-guardar {
    padding: 9px 15px;
    font-size: 15px;
    min-width: 160px;
}

.tb-oferta-gastos .mat-header-row {
    background: #F4F6FB;
    border-radius: 5px;
    min-height: 45px !important;
}

.tb-oferta-gastos .mat-header-row .mat-column-accion,
.tb-oferta-gastos .mat-row .mat-column-accion {
    flex: 0 0 50px;
}

.mat-cell .flex-stretch {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-align-self: stretch;
    -ms-flex-item-align: stretch;
    align-self: stretch;
    /* align-items center so that cell content is vertically centered */
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.footerRow {
    font-weight: 800;
}