<div class="row oferta-head">
    <div class="col-xs-12 col-sm-2 col-lg-12">
        <div class="form-horizontal">
            <div class="form-group">
                <div class="col-xs-12 col-md-1">
                    <button mat-mini-fab mat-mini-fab matTooltip="Agregar servicio" matTooltipPosition="above" (click)="addRow()" mat-icon-button>
                        <mat-icon>add</mat-icon>
                    </button>
                </div>
            </div>
            <div class="form-group">

                <div class="col-sm-12">
                    <mat-progress-bar [color]="color" [ngStyle]="{'visibility':inProgress==true ? 'visible' : 'hidden'}" [value]="progress"></mat-progress-bar>
                    <div class="table-responsive">
                        <mat-table #table mat-table [dataSource]="dataSource" class="tb-oferta-gastos">
                            <ng-container matColumnDef="concepto">
                                <mat-header-cell *matHeaderCellDef class="columnaConcepto" mat-sort-header>Concepto</mat-header-cell>
                                <mat-cell *matCellDef="let row" class="columnaConcepto">
                                    <mat-form-field color="accent" [ngStyle]="{'width': row.mostrarConcepto==true ? '30%' : '90%' }" class="columnaSelecConcepto" appearance="legacy" [style.fontSize.px]="12">
                                        <mat-select [(ngModel)]="row.conceptoId">
                                            <mat-option [value]="0">--Seleccione--</mat-option>
                                            <mat-option [value]="o.id" (onSelectionChange)="changeConcepto($event,row)" *ngFor="let o of listaConcepto">{{o.descripcion}}</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                    <mat-form-field color="accent" *ngIf="row.mostrarConcepto" [ngStyle]="{'width': row.mostrarConcepto==true ? '60%' : '0%' }" class="columnaTextoConcepto" appearance="legacy" [style.fontSize.px]="12">
                                        <input matInput [(ngModel)]="row.nombre" type="text">
                                    </mat-form-field>
                                </mat-cell>

                            </ng-container>
                            <ng-container matColumnDef="cantidad">
                                <mat-header-cell *matHeaderCellDef> Cantidad </mat-header-cell>
                                <mat-cell *matCellDef="let element">
                                    <mat-form-field style="text-align: center; width: 90%;" appearance="legacy" [style.fontSize.px]="12">
                                        <input matInput (input)="inputChangeCantidad($event.target.value,element)" [(ngModel)]="element.cantidad" type="number">
                                    </mat-form-field>
                                </mat-cell>

                            </ng-container>
                            <ng-container matColumnDef="nromeses">
                                <mat-header-cell *matHeaderCellDef> Nro. Meses </mat-header-cell>
                                <mat-cell *matCellDef="let element">
                                    <mat-form-field style="text-align: center; width: 60%;" appearance="legacy" [style.fontSize.px]="12">
                                        <input matInput (input)="inputChangeNumeroMeses($event.target.value,element)" [(ngModel)]="element.meses" type="number">
                                    </mat-form-field>
                                </mat-cell>

                            </ng-container>
                            <ng-container matColumnDef="factor">
                                <mat-header-cell *matHeaderCellDef style="flex: 0 0 4% !important"> Factor </mat-header-cell>
                                <mat-cell *matCellDef="let element" style="flex: 0 0 4% !important"> {{element.factor == 0 ? '':element.factor}} </mat-cell>
                                <mat-footer-cell *matFooterCellDef style="background: #f8f9fa;font-family: telefonicabold;">
                                </mat-footer-cell>
                            </ng-container>

                            <ng-container matColumnDef="moneda">
                                <mat-header-cell *matHeaderCellDef> Moneda </mat-header-cell>
                                <mat-cell *matCellDef="let row">
                                    <mat-form-field color="accent" style="text-align: center; width: 40%;right: 8px;" appearance="legacy" [style.fontSize.px]="12">
                                        <mat-select [(ngModel)]="row.moneda_id">
                                            <mat-option [value]="o.id" (onSelectionChange)="changeMoneda($event,row)" *ngFor="let o of listaMoneda">{{o.descBrv}}</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </mat-cell>

                            </ng-container>

                            <ng-container matColumnDef="montounitmenusal">
                                <mat-header-cell *matHeaderCellDef> Monto Unitario </mat-header-cell>
                                <mat-cell *matCellDef="let row" style="justify-content: flex-end;">
                                    <mat-form-field style="text-align: center; width: 96%;" appearance="legacy" [style.fontSize.px]="12">
                                        <input matInput (input)="inputChangeMontoUnitarioMensual($event.target.value,row)" [(ngModel)]="row.unitarioMensual" type="number" step="0.01">
                                    </mat-form-field>
                                </mat-cell>

                            </ng-container>

                            <ng-container matColumnDef="montototalmensual">
                                <mat-header-cell *matHeaderCellDef> Monto Total S./</mat-header-cell>
                                <mat-cell *matCellDef="let element" style="justify-content: flex-end;"> {{element.totalMensual.toFixed(2) | mask: 'separator':','}} </mat-cell>
                                <mat-footer-cell *matFooterCellDef style="background: #f8f9fa;font-family: telefonicabold;justify-content: flex-end;">

                                </mat-footer-cell>
                            </ng-container>
                            <ng-container matColumnDef="accion">
                                <mat-header-cell *matHeaderCellDef> </mat-header-cell>
                                <mat-cell *matCellDef="let row">
                                    <span style="font-size: 15px;cursor: pointer;" (click)="deleteRow(row)">
                                        <mat-icon style="font-weight: bold;color: #00a9e0;font-size: 18px !important;" class="icon" >delete</mat-icon>
                                    </span>
                                </mat-cell>

                            </ng-container>
                            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                            <mat-row *matRowDef="let row; columns: displayedColumns; let i = index;" [ngClass]=" i % 2 != 0 ? 'row-color-tb' : ''"></mat-row>
                        </mat-table>
                        <div class="">
                            <div class="totales">
                                <div class="monto separador"></div>
                                <div class="monto dolares">
                                    <div class="content">
                                        <div class="desc"> Total S/. </div>
                                        <div class="total">

                                            {{ calcularTotalSoles() | mask: 'separator':',' }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="totales">
                                <div class="monto separador"></div>
                                <div class="monto soles">
                                    <div class="content">
                                        <div class="desc"> Total $ </div>
                                        <div class="total">
                                            {{ calcularTotalDolares()| mask: 'separator':',' }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-10 col-xs-2 text-right">
                    <button class="btn btn-md btn-guardar" (click)="guardarGastosOpex()">Guardar</button>
                </div>
            </div>
        </div>
    </div>
</div>