<div class="containerk">
  <div class="row">
    <div class="col-xs-12 col-sm-6">
      <h3 mat-dialog-title>{{title}} <small>({{dato.codigo}} - {{dato.version}})</small> </h3>
    </div>
    <div class="col-xs-12 col-sm-6">
      <label></label>
    </div>
  </div>
   

   
    <form class="mat-dialog-content" (ngSubmit)="submit" #formControl="ngForm">
        <div class="row">
            <div class="col-sm-2">
               <!--<div class="row">
                    <div class="form col-xs-12 col-sm-8">
                        <mat-form-field color="accent">
                          <input autocomplete="off" matInput #input class="form-control" placeholder="Código" [(ngModel)]="dato.codigo" name="codigo" required >
                          <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
                        </mat-form-field>
                      </div>
                      <div class="form col-xs-12 col-sm-4">
                        <mat-form-field color="accent">
                          <input autocomplete="off" matInput #input class="form-control" placeholder="Ver." [(ngModel)]="dato.version" name="version" required >
                          <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
                        </mat-form-field>
                      </div>
                </div>-->
               <div class="row">
                 <div class="col-xs-12">
                    <mat-form-field color="accent">
                      <span class="prefix" matPrefix>PER- &nbsp;</span>
                      <input autocomplete="off" matInput #input class="form-control" placeholder="Código de SalesForce" [(ngModel)]="dato.oportunidad" name="oportunidad"  >
                      <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
                    </mat-form-field>
                 </div>
               </div> 
               <div class="row">
                <div class="form col-xs-12">
                  <mat-form-field color="accent">
                  <mat-label class="font-normal">Estado</mat-label>
                  <select matNativeControl [(ngModel)]="dato.estado" name="estado" [compareWith]="compareEstado">
                      <option value="-1" selected>[Seleccione]</option>
                      <option *ngFor="let cl of lstEstado" [ngValue]="cl">{{cl.descripcion}}</option>
                  </select>
                  <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
                  </mat-form-field>
                </div>
               </div>
               <div class="row">
                <div class="form col-xs-12">
                  <mat-form-field color="accent">
                    <input autocomplete="off" matInput #input class="form-control" placeholder="Gerente de cuenta" [(ngModel)]="dato.gerente" name="gerente"  >
                    <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
                  </mat-form-field>
                </div>
               </div>
               <div class="row">
                <div class="form col-xs-12">
                  <mat-form-field color="accent">
                    <input autocomplete="off" matInput #input class="form-control" placeholder="Ingeniero Preventa" [(ngModel)]="dato.preventa" name="preventa"  >
                    <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
                  </mat-form-field>
                </div>
               </div>
               <div class="row">
                 <div class="form col-xs-12">
                  <mat-form-field color="accent">
                    <mat-label class="font-normal">Analista Financiero</mat-label>
                    <select matNativeControl>
                        <option value="" selected>[Seleccionar]</option>
                    </select>
                  </mat-form-field>
                 </div>
               </div>
            </div>
            <div class="col-sm-6">
              <div class="form col-xs-12">
                <mat-form-field color="accent">
                  <mat-label class="font-normal">Cliente</mat-label>
                  <select matNativeControl [(ngModel)]="dato.cliente" name="cliente" [compareWith]="compareEstado">
                      <option value="-1" selected>[Seleccione]</option>
                      <option *ngFor="let cl of lstCliente" [ngValue]="cl">{{cl.descripcion}}</option>
                  </select>
                  <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
                </mat-form-field>
              </div>
              <div class="col-xs-12 col-sm-4">
                <mat-form-field color="accent">
                  <input autocomplete="off" matInput #input class="form-control" placeholder="Contacto Cliente" [(ngModel)]="dato.contactocliente" name="contactocliente"  >
                  <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
                </mat-form-field>
              </div>
              <div class="col-xs-12 col-sm-4">
                <mat-form-field color="accent">
                  <input autocomplete="off" matInput #input class="form-control" placeholder="Teléfono" [(ngModel)]="dato.telefonocliente" name="telefonocliente"  >
                  <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
                </mat-form-field>
              </div>
              <div class="col-xs-12 col-sm-4">
                <mat-form-field color="accent">
                  <input autocomplete="off" matInput #input class="form-control" placeholder="Correo" [(ngModel)]="dato.correocontacto" name="correocontacto"  >
                  <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
                </mat-form-field>
              </div>

              <div class="col-xs-12 col-sm-6">
                <mat-form-field color="accent">
                  <input autocomplete="off" matInput #input class="form-control" placeholder="Descripción proyecto" [(ngModel)]="dato.descripcion" name="descripcion" required >
                  <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
                </mat-form-field>
              </div>

              <div class="col-xs-12 col-sm-6">
                <mat-form-field color="accent">
                  <input autocomplete="off" matInput #input class="form-control" placeholder="Complejidad" [(ngModel)]="dato.complejidad" name="complejidad" required >
                  <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
                </mat-form-field>
              </div>

              <div class="col-xs-12 col-sm-4">
                <mat-form-field color="accent">
                  <mat-label class="font-normal">Segmento Negocio</mat-label>
                  <select matNativeControl>
                      <option value="" selected>Empresas</option>
                  </select>
                </mat-form-field>
              </div>
              <div class="col-xs-12 col-sm-4">
                <mat-form-field color="accent">
                  <mat-label class="font-normal">Tipo Contrato</mat-label>
                  <select matNativeControl [(ngModel)]="dato.tipocontrato" name="tipocontrato">
                      <option value="-1" selected>[Seleccione]</option>
                      <option value="1">Libre</option>
                      <option value="2">Forzoso</option>
                      <option value="3">Determinado</option>
                  </select>
                </mat-form-field>
              </div>

            </div>
            <div class="col-sm-4">
    
              <div class="col-xs-12 col-sm-6">
                <mat-form-field color="accent">
                  <mat-label class="font-normal">Tipo de proyecto</mat-label>
                  <select matNativeControl [(ngModel)]="dato.tipoproyecto" name="tipoproyecto">
                    <option value="-1">[Seleccione]</option>
                    <option value="8">Renovación</option>
                    <option value="9">Alta Nueva</option>
                    <option value="10">WinBack</option>
                  </select>
                </mat-form-field>
              </div>
              <div class="col-xs-12 col-sm-6">
                <mat-form-field color="accent">
                  <mat-label class="font-normal">Tipo servicio</mat-label>
                  <select matNativeControl [(ngModel)]="dato.tiposervicio" name="tiposervicio">
                    <option value="-1">[Seleccione]</option>
                    <option value="15">Oneshot</option>
                    <option value="16">Recurrente</option>
                  </select>
                </mat-form-field>
              </div>

              <div class="col-xs-12 col-sm-6">
                <mat-form-field color="accent">
                  <input autocomplete="off" matInput #input class="form-control example-right-align" placeholder="Periodo contrato" [(ngModel)]="dato.periodocontrato" name="periodocontrato" required >
                  <span class="prefix" matPrefix>Meses &nbsp;</span>
                  <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
                </mat-form-field>
             </div>
             <div class="col-xs-12 col-sm-6">
              <mat-form-field color="accent">
                <input autocomplete="off" matInput #input class="form-control" placeholder="Tiempo Implantación" [(ngModel)]="dato.tiempoimplantacion" name="tiempoimplantacion" required >
                <span class="prefix" matPrefix>Meses &nbsp;</span>
                <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
              </mat-form-field>
             </div>

             <div class="col-xs-12 col-sm-6">
              <mat-form-field color="accent">
                <span class="prefix" matPrefix>S/. &nbsp;</span>
                <input autocomplete="off" matInput #input class="form-control" placeholder="Pago Único" [(ngModel)]="dato.pagounico" name="pagounico" required >
                <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
              </mat-form-field>
             </div>
             <div class="col-xs-12 col-sm-6">
              <mat-form-field color="accent">
                <span class="prefix" matPrefix>S/. &nbsp;</span>
                <input autocomplete="off" matInput #input class="form-control" placeholder="Pago Recurrente" [(ngModel)]="dato.pagorecurrente" name="pagorecurrente" required >
                <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
              </mat-form-field>
             </div>

             <div class="col-xs-12 col-sm-6">
              <mat-form-field color="accent">
                <span class="prefix" matPrefix>S/. &nbsp;</span>
                <input autocomplete="off" matInput #input class="form-control" placeholder="Fact. Recurrente" [(ngModel)]="dato.pagorecurrenteactual" name="pagorecurrenteactual" required >
                <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
              </mat-form-field>
             </div>
             <div class="col-xs-12 col-sm-6">
              <mat-form-field color="accent">
                <span class="prefix" matPrefix>S/. &nbsp;</span>
                <input autocomplete="off" matInput #input class="form-control" placeholder="Dif Ingresos" [(ngModel)]="dato.diferenciaingresos" name="diferenciaingresos" required >
                <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
              </mat-form-field>
             </div>

             <div class="col-xs-12 col-sm-6">
              <mat-form-field color="accent">
                <span class="prefix" matPrefix>% &nbsp;</span>
                <input autocomplete="off" matInput #input class="form-control" placeholder="VAN/VAI" [(ngModel)]="dato.vanvai" name="vanvai" required >
                <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
              </mat-form-field>
             </div>
             <div class="col-xs-12 col-sm-6">
              <mat-form-field color="accent">
                <span class="prefix" matPrefix># &nbsp;</span>
                <input autocomplete="off" matInput #input class="form-control" placeholder="Payback" [(ngModel)]="dato.payback" name="payback" required >
                <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
              </mat-form-field>
             </div>

          </div>
        </div>
        <div mat-dialog-actions class="text-right" style="float : right;">

          <button mat-raised-button color="accent" class="submit-button btn btn-default" aria-label="Cancelar"
           [mat-dialog-close]="0" style="margin-right: 15px;">
              Cancelar
          </button>

          <button mat-raised-button color="accent" class="submit-button btn btn-primary" aria-label="Guardar"
                        [disabled]="!formControl.valid" [mat-dialog-close]="1" (click)="confirmAdd()">
                    Guardar
                </button>
        
        </div>

    </form>

</div>
