<div style="color: #50535A;position: relative;width: 100%;">
    <div class="row" style="
    background: #e1e2e2;
    color: #50535A;
    position: relative;
    padding: 20px;
">
        <div class="col-sm-6" style="
        background: #fff;
        min-height: 550px;
    ">
           
          

            <div class="col-xs-12 content-pag-const">
                <h1 style="font-size: 56px;color: #50535A;">¡Proximamente!</h1>

                <p style="color: #50535A;font-size: 22px;margin-top: 60px;"> Estamos trabajando en la construcción de esta sección.
                </p>

                <p style="color: rgb(23, 25, 29);font-size: 22px;margin-top: 40px;">
                    Gracias por tu comprensión.
                </p>

              

            </div>

        </div>
        <div class="col-sm-6 space-img-constr" style="
        background: #fff;
        min-height: 550px;
    ">
            <img src="../../../../assets/images/img_construccion.png"/>
        </div>
    </div>
    
</div>