<div >
    <div class="row">
        <div class="col-sm-6">
           
            <div class="col-xs-12">
                <img class="space-img" src="../../../../assets/images/logos/logo-telefonica-blanco.png" />
            </div>

            <div class="col-xs-12 content-pag-const">
                <h1>¡Muy pronto!</h1>

                <p> Maria,trabajamos para que proximanente
                    puedas consultar y gestionar tus ofertas.
                    proyectos y compras.
                </p>

                <button class="btn btn-default">
                    Regresar
                </button>

            </div>

        </div>
        <div class="col-sm-6 space-img-constr">
            <img src="../../../../assets/images/img_construccion.png"/>
        </div>
    </div>
    
</div>