.content-header{
  display: block;
  width: 100%;
  position: relative;
  height: 60px;
}

.header{
  display: table;
  width: 100%;
  position: relative;
  height: 60px;
  vertical-align: middle;
}
.header .section{
    display: table-cell;
    text-align: center;
}
.header .title{
  text-align: left;
  font-family: TelefonicaRegular;
  width: 80%;
  height: 40px;
  line-height: 40px;
  font-size: 20px;
  padding: 0 0 0 13%;
  position: relative;
}

.header .close{
    position: absolute;
    right: 0;
}

.header .section ._btn{
    width: 85%;
    min-height: 40px;
}

.pagination{
    display: table;
    margin: 10px auto;
  }
  
  .pag{
    min-width: 29px;
    height: 29px;
    float: left;
    text-align: center;
    font-size: 11px;
    line-height: 29px;
  }
  
  .btn-pagination{
    background: #FFFFFF;
    border: 1px solid rgba(0, 169, 224, 0.4);
    box-sizing: border-box;
    border-radius: 4px;
    color: #00A9E0;
    margin: 0 2px;
  }
  
  .btn-pagination mat-icon{
    line-height: 26px;
    font-size: 22px !important;
    color: #00A9E0;
  }
  
  .pointer{
    cursor: pointer;
  }

  button.btn-pagination:disabled,
button.btn-pagination[disabled]{
  border: 1px solid rgb(96, 176, 202);
  background-color: rgb(228, 248, 255);
  color: #dbdbdb;
  cursor: no-drop;
}

button.btn-pagination:disabled mat-icon,
button.btn-pagination[disabled] mat-icon{
  color: #dbdbdb;
}

.mat-column-selected {
    flex: 0 0 40px;
    padding: 0 !important;
    box-shadow: 0px 19px 14px -1px rgba(0,0,0,.5);
}

.mat-header-cell {
    background: #F4F6FB;
}

.filtro{
    margin: 10px 0 10px 0;
}


