.oferta-head {
    margin: 0;
    background: #FFFFFF;
    border-radius: 10px;
    padding: 15px 0;
}

.btn-guardar {
    background: #62CE0E;
    border-radius: 4px;
    color: #fff;
    outline: none !important;
    min-width: 100%;
    font-size: 12px !important;
    border: 0;
    min-height: 26px;
}

.tb-oferta-equipamiento{
    width: 100%;
}

.tb-oferta-equipamiento thead{
    min-height: 46px ;
}

.tb-oferta-equipamiento thead tr {
    background: #F4F6FB;
    border-radius: 5px;
    min-height: 46px ;
    width: 100%;
}

.tb-oferta-equipamiento thead tr th{
    text-align: center;
    color: #003245;
    font-size: 13px;
    font-weight: bold;
    height: 46px ;
}

.tb-oferta-equipamiento tbody tr{
    border-bottom:1px solid #0000001f;
}

.tb-oferta-equipamiento tbody tr td{
    min-height: 48px;
    min-width: 60px;
}

.tb-oferta-equipamiento tbody tr td .tipo{
    width: 120px;
}
.tb-oferta-equipamiento tbody tr td .condicion{
    width: 120px;
    margin: 0 5px;
}
.tb-oferta-equipamiento tbody tr td .antiguedad{
    width: 60px;
}

.tb-oferta-equipamiento tbody tr td .marca{
    width: 107px;
    margin: 0 5px;
}

.tb-oferta-equipamiento tbody tr td .modelo{
    width: 107px;
}

.tb-oferta-equipamiento tbody tr td .cantidad{
    width: 60px;
    margin: 0 5px;
}

.tb-oferta-equipamiento tbody tr td .moneda{
    width: 60px;
}

.tb-oferta-equipamiento tbody tr td .costo{
    width: 60px;
    margin: 0 5px;
}

.tb-oferta-equipamiento tbody tr td .total{
    width: 80px;
    text-align: center;
    font-size: 12px;
}
.tb-oferta-equipamiento tbody tr td .instalacion{
    width: 80px;
    text-align: center;
    font-size: 12px;
}


.tb-oferta-equipamiento .mat-header-row .mat-column-accion,
.tb-oferta-equipamiento .mat-row .mat-column-accion {
    flex: 0 0 50px;
}

.row-color-tb{
    background: #F8F9FA;
}

.totales{
    width: 100%;
    display: table;
    height: 50px;
    vertical-align: middle;
    background: #fff;
    margin-top: 3px;
}

.totales .monto{
    display: table-cell;
    vertical-align: middle;
}

.totales .monto .content{
    background: #f8f9fa;
    display: table;
    width: 100%;
    height: 50px;
    padding: 0px 15px;
}

.totales .monto.separador{
    width: 85%;
}


.totales .monto .content .desc{
    font-family: telefonicabold;
    display: table-cell;
    vertical-align: middle;
    font-size: 11px;
    color:#333030;
}

.totales .monto .content .total{
    font-family: telefonicabold;
    display: table-cell;
    text-align: right;
    vertical-align: middle;
    font-size: 11px;
    color:#333030;
}

.mat-column-antigueadad{
    flex: 0 0 60px;
}

.mat-column-cantidad{
    flex: 0 0 60px;
}

.mat-column-costo{
    flex: 0 0 60px;
}

.mat-column-costototal{
    flex: 0 0 70px;   
}

.mat-column-moneda{
    flex: 0 0 60px;
}
.mat-select-value-text{
    width: 100%;
    text-align: center;
}

.body.theme-default .mat-select-value{
    margin-right: 0 !important;
    text-align: center;
}

.text-center{
    text-align: center;
}