// Import Fuse core library
@import "@fuse/scss/core";
// Import app.theme.scss
@import "app/app.theme";

@import "assets/css/bootstrap.css";



#container-1 fuse-sidebar{
  box-shadow: 0 9px 8px 0 rgba(0, 0, 0, 0.35) !important;
}

toolbar{
  box-shadow: 0px 1px 6px rgba(119, 117, 147, 0.25);
}
  

app-reportepropuesta{
    background: #00A9E0 !important;
}

.row{
  margin: 0;
}

body.theme-default .mat-toolbar{
   /* background: linear-gradient(270deg, #5BC6DA 0%, #005B83 100%) !important;*/
    box-shadow: 0px 8px 28px rgba(72, 89, 102, 0.1);
    background: #fff !important;
}

.fuse-navy-900 {
    background-color: #035e86 !important;
    color: white !important;
}

navbar navbar-vertical-style-1 .navbar-top .logo .logo-icon{
    height: 30px !important;
    width: auto !important;
}
    
navbar navbar-vertical-style-1 .navbar-top .logo{
    margin: 0 auto;;
}

body.theme-default .accent {
    background-color: #e5e5e5 !important;
    color: #954B97 !important;
}

.page-layout.carded.fullwidth.inner-scroll {
    background: #e5e5e5;
}

.fuse-navy-700 {
    background-color: #ffffff !important;
    color: #909090 !important;
}

.nav.material2 .nav-item .nav-link, .material2 .nav .nav-item .nav-link
{
    height: 40px;
    padding: 0 12px 0 24px;
}

body.theme-default .hint-text{
    font-family: Baloo Thambi 2;
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 12px;
color: #003245 !important;
font-family: Baloo Thambi 2;
}

.nav .nav-item.nav-collapsable a{
    background-color: #fff !important;
    border-radius: 0 !important;
    margin-right: 0 !important;
    font-family: Baloo Thambi 2;
    font-size: 13px;;
}

.nav .nav-item.nav-collapsable.open >  a:first-child{
    background: #F5F6FA !important;
    color: #954B97 !important;
    font-weight: 600; 
    font-family: Baloo Thambi 2;
    border-right: 3px solid;
}

body.theme-default .mat-header-cell {
    color: #003245;
    font-size: 13px;
    font-weight: bold;
    display: flex;
    justify-content: center;
}

body.theme-default .mat-cell, body.theme-default .mat-footer-cell{
    color: #50535A;
    align-items: center;
    text-align: center;
    font-size: 11px;
    -webkit-box-pack: center;
    justify-content: center;
}

.example-container .mat-form-field + .mat-form-field {
    margin-left: 8px;
  }
  
  .example-right-align {
    text-align: right;
  }
  
  input.example-right-align::-webkit-outer-spin-button,
  input.example-right-align::-webkit-inner-spin-button {
    display: none;
  }
  
  input.example-right-align {
    -moz-appearance: textfield;
  }


  .page-layout.carded.fullwidth > .center{
      background: #E5E5E5;
  }


  .filtro >  .mat-form-field-infix{
      font-size: 12px;
  }

  .mat-form-field-label-wrapper{
      font-size:13px;
  }


  .mat-form-field-appearance-outline .mat-form-field-infix{
    height: 40px;
    margin: 0;
    padding: 0 !important;
  }
  
  .mat-form-field-appearance-outline .mat-form-field-flex{
    height: 40px;
  }

  body.theme-default .mat-form-field-appearance-outline .mat-form-field-outline-thick{
      background: #fff;
      border-radius: 5px;
  }

  body.theme-default .mat-form-field-appearance-outline .mat-form-field-outline
  {
    background: #fff;
    border-radius: 5px;
  }

  body.theme-default .mat-form-field-appearance-outline .mat-form-field-outline-thick{
      color: transparent;
  }

  body.theme-default .mat-form-field-type-mat-native-select .mat-form-field-infix::after {
    color: #2493B4;
    }

    .mat-form-field{
        width: 100%;
    }

    login-2 #login #login-form-wrapper #login-form{
      padding: 200px 48px 48px 48px !important;
    }

    .btn-primary-telefonica{
      background: linear-gradient(90deg, #2F9CB3 0%, #5AC4D9 100%);
      border-radius: 8px;
      color: #fff;
      padding: 5px 10px;
      border: 0;
      font-size: 13px;
    }

    .btn-primary-telefonica-2{
      background: linear-gradient(180deg, #980098 0%, #CE0ECE  100%);
      border-radius: 8px;
      color: #fff;
      padding: 5px 10px;
      border: 0;
      font-size: 13px;
    }


    .btn-green-telefonica{
      background: #73DE07;
      border-radius: 11px;
      color: #fff;
      padding: 5px 10px;
      border: 0;
    }

    body.theme-default .mat-tab-group.mat-primary .mat-ink-bar, body.theme-default .mat-tab-nav-bar.mat-primary .mat-ink-bar {
      background-color: #2593B5 !important;
    }

    .mat-ink-bar{
      height: 3px !important;
    }

    .mat-tab-label .mat-tab-label-content{
      font-size: 20px;
      color: rgba(0, 50, 69, 0.6) !important;
    }

    div.mat-tab-label.mat-tab-label-active > div
    {
      color: #003245 !important;
      font-weight: bold !important  ;
    }

    .mat-tab-labels{
      padding: 0 20px !important;
    }

    .mytab-oferta mat-tab-header div.mat-tab-label-container div.mat-tab-list div.mat-tab-labels div.mat-tab-label{
      width: 20% ;
    }

    .font-normal{
      font-weight: normal;
    }

    .mat-form-field-appearance-outline .mat-form-field-wrapper{
      margin: 0 !important;
    }

    .padding-none{
      padding: 0;
    }

    .padding-l-none{
      padding-left: 0;
    }

    .padding-r-none{
      padding-right: 0;
    }

    .btn-primary-telefonica{
      background: #01B1E3;
      border-radius: 4px;
      color: #fff !important;
      font-size: 13px;
      text-decoration: none !important;
      cursor: pointer;
      min-width: 140px;
      text-align: center;
      padding: 10px 15px;
    }

    
    a.btn-primary-telefonica{
      line-height: 36px;
      position: absolute;
      right: 0;
      padding: 0;
      height: 36px;;
    }

    .btn-telefonica-gree{
      background: #62CE0E;
      border-radius: 4px;
      color: #fff;
      min-width: 110px;
      font-size: 12px;
      border: 0;
      min-height: 26px;
    }

    .btn-telefonica-gree-2{
      background:transparent;
      border-radius: 4px;
      color: #62CE0E;
      min-width: 110px;
      font-size: 12px;
      border: 1px solid #62CE0E;
      min-height: 26px;
    }

    .btn-telefonica-2{
      background:transparent;
      border-radius: 4px;
      color: #01B1E3;
      min-width: 110px;
      font-size: 12px;
      border: 1px solid #01B1E3;
      min-height: 26px;
    }

    .btn-telefonica-2 .icon{
      color: #01B1E3 !important;
      font-size: 15px;
      min-height: 0px !important;
      line-height: 0 !important;
      height: auto;
    }


    .btn-primary-telefonica mat-icon{
      color: #fff !important;
    }

    .icon{
      font-size: 15px !important;
    }

    .gray-seatrch{
      color:#B6B7B7;
    }
    .form-control{
      font-size: 13px !important;
    }

    .mat-checkbox-layout .mat-checkbox-label{
      font-weight: normal !important;
    }

