<div id="login" class="inner-scroll" fxLayout="row" fxLayoutAlign="start">
    <div id="login-intro" fxFlex fxHide fxShow.gt-xs>
        <div class="TituloPrincipalLogin">
            <p>Bienvenido a nuestra</p>
            <p>plataforma digital</p>
        </div>
        <div [@animate]="{value:'*',params:{scale:'0.2'}}">
            <img src="assets/images/backgrounds/logo.svg" class="logoPrincipalLogin">
        </div>
    </div>
    <div id="login-form-wrapper" fxLayout="row" fxLayoutAlign="end center" fusePerfectScrollbar [@animate]="{value:'*',params:{delay:'300ms',x:'100%'}}">

        <div id="login-form">
            <div class="logo" fxHide.gt-xs>
                <img src="assets/images/logos/fuse.svg">
            </div>
            <h1 class="title">Iniciar sesión</h1>
            <form name="loginForm" [formGroup]="loginForm" novalidate>
                <mat-form-field appearance="legacy">
                    <mat-label>Usuario</mat-label>
                    <input matInput formControlName="usuario">
                    <mat-icon matSuffix class="secondary-text">perm_identity</mat-icon>
                    <mat-error *ngIf="loginForm.get('usuario').hasError('required')">
                        Usuario es obligatorio
                    </mat-error>
                </mat-form-field>
                <br>
                <br>
                <mat-form-field appearance="legacy">
                    <mat-label>Contraseña</mat-label>
                    <input matInput type="password" formControlName="password">
                    <mat-icon matSuffix class="secondary-text">vpn_key</mat-icon>
                    <mat-error>
                        Contraseña es obligatoria
                    </mat-error>
                </mat-form-field>
                <br>
                <br>
                <div class="remember-forgot-password" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="space-between center">
                    <mat-checkbox class="remember-me" style="font-family: TelefonicaRegular;
                    font-size: 12px;
                    color: #50535A;" aria-label="Remember Me">
                        Recordar datos
                    </mat-checkbox>

                    <!-- <a class="forgot-password" [routerLink]="'/pages/auth/forgot-password-2'">
                        Recuperar contraseña?
                    </a> -->
                </div>
                <br>
                <br>
                <br>
                <button mat-raised-button color="accent" class="submit-button2" aria-label="LOGIN" [disabled]="loginForm.invalid" (click)="login()">
                    INGRESAR
                </button>
            </form>
        </div>
    </div>
</div>