<div class="row oferta-head">
    <div class="col-xs-12 col-sm-2 col-lg-12">
        <div class="form-horizontal">
            <div class="form-group">
                <div class="col-xs-12 col-md-1">
                    <button mat-mini-fab matTooltip="Agregar servicio" matTooltipPosition="above" (click)="addRow()" mat-icon-button>
                        <mat-icon>add</mat-icon>
                    </button>
                </div>
                <!-- <div class="col-xs-12 col-md-2">
                    <mat-form-field color="accent" appearance="legacy" [style.fontSize.px]="12">
                        <mat-label>Selecciona número por Pagina</mat-label>
                        <mat-select>
                            <mat-option value="1">5 por pagina</mat-option>
                            <mat-option value="2">10 por pagina</mat-option>
                            <mat-option value="3">25 por pagina</mat-option>
                            <mat-option value="4">50 por pagina</mat-option>
                            <mat-option value="5">50 por pagina</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div> -->
            </div>
            <div class="form-group">
                <div class="col-sm-12">
                    <mat-progress-bar [color]="color" [ngStyle]="{'visibility':inProgress==true ? 'visible' : 'hidden'}" [value]="progress"></mat-progress-bar>
                    <div class="table-responsive">
                        <mat-table #table mat-table [dataSource]="dataSource" style="width: 6000px;" matSort class="tb-oferta-equipamiento">
                            <ng-container matColumnDef="sede">
                                <mat-header-cell *matHeaderCellDef mat-sort-header>Sede</mat-header-cell>
                                <mat-cell *matCellDef="let row">
                                    <mat-form-field color="accent" style="text-align: center; width: 80%;" appearance="legacy" [style.fontSize.px]="12">
                                        <input matInput [(ngModel)]="row.nombreSede" type="text" maxlength="100">
                                    </mat-form-field>
                                </mat-cell>
                            </ng-container>
                            <ng-container matColumnDef="direccion">
                                <mat-header-cell *matHeaderCellDef mat-sort-header> Dirección </mat-header-cell>
                                <mat-cell *matCellDef="let row">
                                    <mat-form-field color="accent" style="text-align: center; width: 80%;" appearance="legacy" [style.fontSize.px]="12">
                                        <input matInput [(ngModel)]="row.direccion" type="text" maxlength="100">
                                    </mat-form-field>
                                </mat-cell>
                            </ng-container>
                            <ng-container matColumnDef="ubigeo">
                                <mat-header-cell *matHeaderCellDef mat-sort-header style="flex: 0 0 230px !important;"> Distrito, Provincia, Departamento </mat-header-cell>
                                <mat-cell *matCellDef="let row" style="flex: 0 0 230px !important;">
                                    <mat-form-field color="accent" appearance="legacy" [style.fontSize.px]="12">
                                        <input matInput [matAutocomplete]="auto" (input)="inputChangeUbigeo($event.target.value,row)" [(ngModel)]="row.ubigeo">
                                    </mat-form-field>
                                    <mat-autocomplete #auto="matAutocomplete" (optionSelected)="resetAutoComplete();">
                                        <mat-option *ngIf="row.isLoading" class="is-loading">
                                            <mat-spinner diameter="50"></mat-spinner>
                                        </mat-option>
                                        <ng-container *ngIf="!row.isLoading">
                                            <mat-option *ngFor="let state of filteredStates" [value]="state.descripcion">
                                                <!-- <img class="example-option-img" aria-hidden [src]="state.flag" height="25"> -->
                                                <!-- <span>{{state.name}}</span> |
                                                <small>Population: {{state.population}}</small> -->
                                                <span>{{state.descripcion}}</span>

                                            </mat-option>
                                        </ng-container>
                                    </mat-autocomplete>
                                    <!-- {{row.ubigeo}} -->

                                </mat-cell>
                            </ng-container>
                            <ng-container matColumnDef="geo">
                                <mat-header-cell *matHeaderCellDef mat-sort-header> Geo </mat-header-cell>
                                <mat-cell *matCellDef="let element">
                                    <button [ngClass]="{'desabilitarGeolocalizacion': (element.longitud==0 ||  element.longitud==null )  && (element.latitud==0) ||  element.latitud==null }" mat-mini-fab (click)="geoDialog(element)">
                                        <mat-icon>location_on</mat-icon>
                                    </button>
                                </mat-cell>
                            </ng-container>
                            <ng-container matColumnDef="contacto">
                                <mat-header-cell *matHeaderCellDef mat-sort-header> Contacto </mat-header-cell>
                                <mat-cell *matCellDef="let row">
                                    <mat-form-field color="accent" style="text-align: center; width: 80%;" appearance="legacy" [style.fontSize.px]="12">
                                        <input matInput [(ngModel)]="row.contacto" type="text" maxlength="100">
                                    </mat-form-field>
                                </mat-cell>
                            </ng-container>
                            <ng-container matColumnDef="telefono">
                                <mat-header-cell *matHeaderCellDef mat-sort-header> Teléfono </mat-header-cell>
                                <mat-cell *matCellDef="let row">
                                    <mat-form-field color="accent" style="text-align: center; width: 80%;" appearance="legacy" [style.fontSize.px]="12">
                                        <input matInput [(ngModel)]="row.telefono" type="text" maxlength="100">
                                    </mat-form-field>
                                </mat-cell>
                            </ng-container>

                            <!--servicioActual-->
                            <ng-container matColumnDef="servicioActual_circuito">
                                <mat-header-cell *matHeaderCellDef mat-sort-header> Circuito </mat-header-cell>
                                <mat-cell *matCellDef="let row">
                                    <mat-form-field color="accent" style="text-align: center; width: 80%;" appearance="legacy" [style.fontSize.px]="12">
                                        <!-- <mat-label>Selecciona número por Pagina</mat-label> -->
                                        <mat-select [(ngModel)]="row.circuito">
                                            <mat-option value="">--Seleccione--</mat-option>
                                            <mat-option [value]="o.id" *ngFor="let o of listTipoCircuito">{{o.descripcion}}</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </mat-cell>
                            </ng-container>
                            <ng-container matColumnDef="servicioActual_nrocircuito">
                                <mat-header-cell *matHeaderCellDef mat-sort-header> Nº de circuito </mat-header-cell>
                                <mat-cell *matCellDef="let row">
                                    <mat-form-field color="accent" style="text-align: center; width: 80%;" appearance="legacy" [style.fontSize.px]="12">
                                        <input matInput [(ngModel)]="row.tipoCircuitoActual" type="number">
                                    </mat-form-field>
                                </mat-cell>
                            </ng-container>
                            <ng-container matColumnDef="servicioActual_servicio">
                                <mat-header-cell *matHeaderCellDef mat-sort-header> Servicio </mat-header-cell>
                                <mat-cell *matCellDef="let row">
                                    <mat-form-field color="accent" style="text-align: center; width: 80%;" appearance="legacy" [style.fontSize.px]="12">
                                        <!-- <mat-label>Selecciona número por Pagina</mat-label> -->
                                        <mat-select [(ngModel)]="row.tipoServicioIdActual">
                                            <mat-option value="">--Seleccione--</mat-option>
                                            <mat-option [value]="o.id" *ngFor="let o of listTipoServicio">{{o.descripcion}}</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </mat-cell>
                            </ng-container>
                            <ng-container matColumnDef="servicioActual_medio">
                                <mat-header-cell *matHeaderCellDef mat-sort-header> Medio </mat-header-cell>
                                <mat-cell *matCellDef="let row">
                                    <mat-form-field color="accent" style="text-align: center; width: 80%;" appearance="legacy" [style.fontSize.px]="12">
                                        <!-- <mat-label>Selecciona número por Pagina</mat-label> -->
                                        <mat-select [(ngModel)]="row.medio">
                                            <mat-option value="">--Seleccione--</mat-option>
                                            <mat-option [value]="o.id" *ngFor="let o of listViaAcceso">{{o.descripcion}}</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </mat-cell>
                            </ng-container>
                            <ng-container matColumnDef="servicioActual_bw">
                                <mat-header-cell *matHeaderCellDef mat-sort-header> BW </mat-header-cell>
                                <mat-cell *matCellDef="let row">
                                    <mat-form-field color="accent" style="text-align: center; width: 40%;right: 8px;" appearance="legacy" [style.fontSize.px]="12">
                                        <!-- <mat-label>Selecciona número por Pagina</mat-label> -->
                                        <mat-select [(ngModel)]="row.bwActualActual">
                                            <mat-option value="">--Seleccione--</mat-option>
                                            <mat-option [value]="o.id" *ngFor="let o of listBw">{{o.nombre}}</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                    <mat-form-field color="accent" style="text-align: center; width: 40%;" appearance="legacy" [style.fontSize.px]="12">
                                        <input matInput [(ngModel)]="row.nrobw" type="number">
                                    </mat-form-field>
                                </mat-cell>
                            </ng-container>
                            <ng-container matColumnDef="servicioActual_ldn">
                                <mat-header-cell *matHeaderCellDef mat-sort-header> LDN </mat-header-cell>
                                <mat-cell *matCellDef="let row">
                                    <mat-form-field color="accent" style="text-align: center; width: 40%;right: 8px;" appearance="legacy" [style.fontSize.px]="12">
                                        <mat-select [(ngModel)]="row.ldn">
                                            <mat-option value="">--Seleccione--</mat-option>
                                            <mat-option [value]="o.id" *ngFor="let o of listLDN">{{o.nombre}}</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                    <mat-form-field color="accent" style="text-align: center; width: 40%;" appearance="legacy" [style.fontSize.px]="12">
                                        <input matInput [(ngModel)]="row.nroldn" type="number">
                                    </mat-form-field>
                                </mat-cell>
                            </ng-container>
                            <ng-container matColumnDef="servicioActual_voz">
                                <mat-header-cell *matHeaderCellDef mat-sort-header> Voz </mat-header-cell>
                                <mat-cell *matCellDef="let row">
                                    <mat-form-field color="accent" style="text-align: center; width: 40%;right: 8px;" appearance="legacy" [style.fontSize.px]="12">
                                        <mat-select [(ngModel)]="row.voz">
                                            <mat-option value="">--Seleccione--</mat-option>
                                            <mat-option [value]="o.id" *ngFor="let o of listVoz">{{o.nombre}}</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                    <mat-form-field color="accent" style="text-align: center; width: 40%;" appearance="legacy" [style.fontSize.px]="12">
                                        <input matInput type="number" [(ngModel)]="row.nrovoz">
                                    </mat-form-field>
                                </mat-cell>
                            </ng-container>
                            <ng-container matColumnDef="servicioActual_video">
                                <mat-header-cell *matHeaderCellDef mat-sort-header> Video </mat-header-cell>
                                <mat-cell *matCellDef="let row">
                                    <mat-form-field color="accent" style="text-align: center; width: 40%;right: 8px;" appearance="legacy" [style.fontSize.px]="12">
                                        <mat-select [(ngModel)]="row.video">
                                            <mat-option value="">--Seleccione--</mat-option>
                                            <mat-option [value]="o.id" *ngFor="let o of listVideo">{{o.nombre}}</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                    <mat-form-field color="accent" style="text-align: center; width: 40%;" appearance="legacy" [style.fontSize.px]="12">
                                        <input matInput type="number" [(ngModel)]="row.nrovideo">
                                    </mat-form-field>
                                </mat-cell>
                            </ng-container>
                            <ng-container matColumnDef="servicioActual_platinium">
                                <mat-header-cell *matHeaderCellDef mat-sort-header> Platinium </mat-header-cell>
                                <mat-cell *matCellDef="let row">
                                    <mat-form-field color="accent" style="text-align: center; width: 40%;right: 8px;" appearance="legacy" [style.fontSize.px]="12">
                                        <mat-select [(ngModel)]="row.platinium">
                                            <mat-option value="">--Seleccione--</mat-option>
                                            <mat-option [value]="o.id" *ngFor="let o of listPlatinium">{{o.nombre}}</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                    <mat-form-field color="accent" style="text-align: center; width: 40%;" appearance="legacy" [style.fontSize.px]="12">
                                        <input matInput type="number" [(ngModel)]="row.nroplatinium">
                                    </mat-form-field>
                                </mat-cell>
                            </ng-container>
                            <ng-container matColumnDef="servicioActual_oro">
                                <mat-header-cell *matHeaderCellDef mat-sort-header> Oro </mat-header-cell>
                                <mat-cell *matCellDef="let row">
                                    <mat-form-field color="accent" style="text-align: center; width: 40%;right: 8px;" appearance="legacy" [style.fontSize.px]="12">
                                        <mat-select [(ngModel)]="row.oro">
                                            <mat-option value="">--Seleccione--</mat-option>
                                            <mat-option [value]="o.id" *ngFor="let o of listOro">{{o.nombre}}</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                    <mat-form-field color="accent" style="text-align: center; width: 40%;" appearance="legacy" [style.fontSize.px]="12">
                                        <input matInput type="number" [(ngModel)]="row.nrooro">
                                    </mat-form-field>
                                </mat-cell>
                            </ng-container>
                            <ng-container matColumnDef="servicioActual_plata">
                                <mat-header-cell *matHeaderCellDef mat-sort-header> Plata </mat-header-cell>
                                <mat-cell *matCellDef="let row">
                                    <mat-form-field color="accent" style="text-align: center; width: 40%;right: 8px;" appearance="legacy" [style.fontSize.px]="12">
                                        <mat-select [(ngModel)]="row.plata">
                                            <mat-option value="">--Seleccione--</mat-option>
                                            <mat-option [value]="o.id" *ngFor="let o of listPlata">{{o.nombre}}</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                    <mat-form-field color="accent" style="text-align: center; width: 40%;" appearance="legacy" [style.fontSize.px]="12">
                                        <input matInput type="number" [(ngModel)]="row.nroplata">
                                    </mat-form-field>
                                </mat-cell>
                            </ng-container>
                            <ng-container matColumnDef="servicioActual_bronce">
                                <mat-header-cell *matHeaderCellDef mat-sort-header> Bronce </mat-header-cell>
                                <mat-cell *matCellDef="let row">
                                    <mat-form-field color="accent" style="text-align: center; width: 40%;right: 8px;" appearance="legacy" [style.fontSize.px]="12">
                                        <mat-select [(ngModel)]="row.bronce">
                                            <mat-option value="">--Seleccione--</mat-option>
                                            <mat-option [value]="o.id" *ngFor="let o of listBronce">{{o.nombre}}</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                    <mat-form-field color="accent" style="text-align: center; width: 40%;" appearance="legacy" [style.fontSize.px]="12">
                                        <input matInput type="number" [(ngModel)]="row.nrobronce">
                                    </mat-form-field>
                                </mat-cell>
                            </ng-container>
                            <ng-container matColumnDef="servicioActual_equipoterminal">
                                <mat-header-cell *matHeaderCellDef mat-sort-header>Equipo Terminal</mat-header-cell>
                                <mat-cell *matCellDef="let row">
                                    <mat-form-field color="accent" style="text-align: center; width: 80%;" appearance="legacy" [style.fontSize.px]="12">
                                        <input matInput [(ngModel)]="row.equipoterminal" type="text" maxlength="100">
                                    </mat-form-field>
                                </mat-cell>
                            </ng-container>
                            <ng-container matColumnDef="servicioActual_router">
                                <mat-header-cell *matHeaderCellDef mat-sort-header>Router</mat-header-cell>
                                <mat-cell *matCellDef="let row">
                                    <mat-form-field color="accent" style="text-align: center; width: 80%;" appearance="legacy" [style.fontSize.px]="12">
                                        <input matInput [(ngModel)]="row.router" type="text" maxlength="100">
                                    </mat-form-field>
                                </mat-cell>
                            </ng-container>
                            <ng-container matColumnDef="servicioActual_otro">
                                <mat-header-cell *matHeaderCellDef mat-sort-header> Otros </mat-header-cell>
                                <mat-cell *matCellDef="let element">
                                    <mat-form-field color="accent" style="text-align: center; width: 80%;" appearance="legacy" [style.fontSize.px]="12">
                                        <input matInput type="text" maxlength="100">
                                    </mat-form-field>
                                </mat-cell>
                            </ng-container>
                            <ng-container matColumnDef="servicioActual_facturacion">
                                <mat-header-cell *matHeaderCellDef mat-sort-header>Facturación</mat-header-cell>
                                <mat-cell *matCellDef="let row">
                                    <mat-form-field color="accent" style="text-align: center; width: 80%;" appearance="legacy" [style.fontSize.px]="12">
                                        <input matInput [(ngModel)]="row.facturacion" type="text" maxlength="100">
                                    </mat-form-field>
                                </mat-cell>
                            </ng-container>

                            <!--servicioPropuesto-->
                            <ng-container matColumnDef="servicioPropuesto_acccionisis">
                                <mat-header-cell *matHeaderCellDef mat-sort-header> Acción ISIS </mat-header-cell>
                                <mat-cell *matCellDef="let row">
                                    <mat-form-field color="accent" style="text-align: center; width: 80%;" appearance="legacy" [style.fontSize.px]="12">
                                        <!-- <mat-label>Selecciona número por Pagina</mat-label> -->
                                        <mat-select [(ngModel)]="row.acccionisis">
                                            <mat-option value="">--Seleccione--</mat-option>
                                            <mat-option [value]="o.id" *ngFor="let o of listAccionIsis">{{o.descripcion}}</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </mat-cell>
                            </ng-container>
                            <ng-container matColumnDef="servicioPropuesto_tiposede">
                                <mat-header-cell *matHeaderCellDef mat-sort-header> Tipo Sede </mat-header-cell>
                                <mat-cell *matCellDef="let row">
                                    <mat-form-field color="accent" style="text-align: center; width: 80%;" appearance="legacy" [style.fontSize.px]="12">
                                        <!-- <mat-label>Selecciona número por Pagina</mat-label> -->
                                        <mat-select [(ngModel)]="row.acccionisis">
                                            <mat-option value="">--Seleccione--</mat-option>
                                            <mat-option [value]="o.id" *ngFor="let o of listAccionIsis">{{o.descripcion}}</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </mat-cell>
                            </ng-container>
                            <ng-container matColumnDef="servicioPropuesto_modo">
                                <mat-header-cell *matHeaderCellDef mat-sort-header> Modo </mat-header-cell>
                                <mat-cell *matCellDef="let row">
                                    <mat-form-field color="accent" style="text-align: center; width: 80%;" appearance="legacy" [style.fontSize.px]="12">
                                        <!-- <mat-label>Selecciona número por Pagina</mat-label> -->
                                        <mat-select [(ngModel)]="row.acccionisis">
                                            <mat-option value="">--Seleccione--</mat-option>
                                            <mat-option [value]="o.id" *ngFor="let o of listAccionIsis">{{o.descripcion}}</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </mat-cell>
                            </ng-container>
                            <ng-container matColumnDef="servicioPropuesto_circuito">
                                <mat-header-cell *matHeaderCellDef mat-sort-header> Circuito </mat-header-cell>
                                <mat-cell *matCellDef="let row">
                                    <mat-form-field color="accent" style="text-align: center; width: 80%;" appearance="legacy" [style.fontSize.px]="12">
                                        <!-- <mat-label>Selecciona número por Pagina</mat-label> -->
                                        <mat-select [(ngModel)]="row.acccionisis">
                                            <mat-option value="">--Seleccione--</mat-option>
                                            <mat-option [value]="o.id" *ngFor="let o of listAccionIsis">{{o.descripcion}}</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </mat-cell>
                            </ng-container>
                            <ng-container matColumnDef="servicioPropuesto_nrocircuito">
                                <mat-header-cell *matHeaderCellDef mat-sort-header>Nº de circuito</mat-header-cell>
                                <mat-cell *matCellDef="let row">
                                    <mat-form-field color="accent" style="text-align: center; width: 80%;" appearance="legacy" [style.fontSize.px]="12">
                                        <input matInput [(ngModel)]="row.facturacion" type="text" maxlength="100">
                                    </mat-form-field>
                                </mat-cell>
                            </ng-container>
                            <ng-container matColumnDef="servicioPropuesto_servicio">
                                <mat-header-cell *matHeaderCellDef mat-sort-header> Servicio </mat-header-cell>
                                <mat-cell *matCellDef="let row">
                                    <mat-form-field color="accent" style="text-align: center; width: 80%;" appearance="legacy" [style.fontSize.px]="12">
                                        <!-- <mat-label>Selecciona número por Pagina</mat-label> -->
                                        <mat-select [(ngModel)]="row.acccionisis">
                                            <mat-option value="">--Seleccione--</mat-option>
                                            <mat-option [value]="o.id" *ngFor="let o of listAccionIsis">{{o.descripcion}}</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </mat-cell>
                            </ng-container>
                            <ng-container matColumnDef="servicioPropuesto_medio">
                                <mat-header-cell *matHeaderCellDef mat-sort-header> Medio </mat-header-cell>
                                <mat-cell *matCellDef="let row">
                                    <mat-form-field color="accent" style="text-align: center; width: 80%;" appearance="legacy" [style.fontSize.px]="12">
                                        <!-- <mat-label>Selecciona número por Pagina</mat-label> -->
                                        <mat-select [(ngModel)]="row.acccionisis">
                                            <mat-option value="">--Seleccione--</mat-option>
                                            <mat-option [value]="o.id" *ngFor="let o of listAccionIsis">{{o.descripcion}}</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </mat-cell>
                            </ng-container>
                            <ng-container matColumnDef="servicioPropuesto_sva">
                                <mat-header-cell *matHeaderCellDef mat-sort-header>SVA</mat-header-cell>
                                <mat-cell *matCellDef="let row">
                                    <mat-form-field color="accent" style="text-align: center; width: 80%;" appearance="legacy" [style.fontSize.px]="12">
                                        <input matInput [(ngModel)]="row.facturacion" type="text" maxlength="100">
                                    </mat-form-field>
                                </mat-cell>
                            </ng-container>
                            <ng-container matColumnDef="servicioPropuesto_svadescripcion">
                                <mat-header-cell *matHeaderCellDef mat-sort-header>SVA - Descripción</mat-header-cell>
                                <mat-cell *matCellDef="let row">
                                    <mat-form-field color="accent" style="text-align: center; width: 80%;" appearance="legacy" [style.fontSize.px]="12">
                                        <input matInput [(ngModel)]="row.facturacion" type="text" maxlength="100">
                                    </mat-form-field>
                                </mat-cell>
                            </ng-container>
                            <ng-container matColumnDef="servicioPropuesto_bw">
                                <mat-header-cell *matHeaderCellDef mat-sort-header> BW </mat-header-cell>
                                <mat-cell *matCellDef="let row">
                                    <mat-form-field color="accent" style="text-align: center; width: 40%;right: 8px;" appearance="legacy" [style.fontSize.px]="12">
                                        <!-- <mat-label>Selecciona número por Pagina</mat-label> -->
                                        <mat-select [(ngModel)]="row.bw">
                                            <mat-option value="">--Seleccione--</mat-option>
                                            <mat-option [value]="o.id" *ngFor="let o of listBw">{{o.nombre}}</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                    <mat-form-field color="accent" style="text-align: center; width: 40%;" appearance="legacy" [style.fontSize.px]="12">
                                        <input matInput [(ngModel)]="row.nrobw" type="number">
                                    </mat-form-field>
                                </mat-cell>
                            </ng-container>

                            <!--Caudales-->
                            <ng-container matColumnDef="servicioPropuesto_ldn">
                                <mat-header-cell *matHeaderCellDef mat-sort-header> LDN </mat-header-cell>
                                <mat-cell *matCellDef="let row">
                                    <mat-form-field color="accent" style="text-align: center; width: 40%;right: 8px;" appearance="legacy" [style.fontSize.px]="12">
                                        <mat-select [(ngModel)]="row.ldn">
                                            <mat-option value="">--Seleccione--</mat-option>
                                            <mat-option [value]="o.id" *ngFor="let o of listLDN">{{o.nombre}}</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                    <mat-form-field color="accent" style="text-align: center; width: 40%;" appearance="legacy" [style.fontSize.px]="12">
                                        <input matInput [(ngModel)]="row.nroldn" type="number">
                                    </mat-form-field>
                                </mat-cell>
                            </ng-container>
                            <ng-container matColumnDef="servicioPropuesto_voz">
                                <mat-header-cell *matHeaderCellDef mat-sort-header> Voz </mat-header-cell>
                                <mat-cell *matCellDef="let row">
                                    <mat-form-field color="accent" style="text-align: center; width: 40%;right: 8px;" appearance="legacy" [style.fontSize.px]="12">
                                        <mat-select [(ngModel)]="row.voz">
                                            <mat-option value="">--Seleccione--</mat-option>
                                            <mat-option [value]="o.id" *ngFor="let o of listVoz">{{o.nombre}}</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                    <mat-form-field color="accent" style="text-align: center; width: 40%;" appearance="legacy" [style.fontSize.px]="12">
                                        <input matInput type="number" [(ngModel)]="row.nrovoz">
                                    </mat-form-field>
                                </mat-cell>
                            </ng-container>
                            <ng-container matColumnDef="servicioPropuesto_video">
                                <mat-header-cell *matHeaderCellDef mat-sort-header> Video </mat-header-cell>
                                <mat-cell *matCellDef="let row">
                                    <mat-form-field color="accent" style="text-align: center; width: 40%;right: 8px;" appearance="legacy" [style.fontSize.px]="12">
                                        <mat-select [(ngModel)]="row.caudalVideoActual">
                                            <mat-option value="">--Seleccione--</mat-option>
                                            <mat-option [value]="o.id" *ngFor="let o of listVideo">{{o.nombre}}</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                    <mat-form-field color="accent" style="text-align: center; width: 40%;" appearance="legacy" [style.fontSize.px]="12">
                                        <input matInput type="number" [(ngModel)]="row.nrovideo">
                                    </mat-form-field>
                                </mat-cell>
                            </ng-container>
                            <ng-container matColumnDef="servicioPropuesto_platinium">
                                <mat-header-cell *matHeaderCellDef mat-sort-header> Platinium </mat-header-cell>
                                <mat-cell *matCellDef="let row">
                                    <mat-form-field color="accent" style="text-align: center; width: 40%;right: 8px;" appearance="legacy" [style.fontSize.px]="12">
                                        <mat-select [(ngModel)]="row.platinium">
                                            <mat-option value="">--Seleccione--</mat-option>
                                            <mat-option [value]="o.id" *ngFor="let o of listPlatinium">{{o.nombre}}</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                    <mat-form-field color="accent" style="text-align: center; width: 40%;" appearance="legacy" [style.fontSize.px]="12">
                                        <input matInput type="number" [(ngModel)]="row.nroplatinium">
                                    </mat-form-field>
                                </mat-cell>
                            </ng-container>
                            <ng-container matColumnDef="servicioPropuesto_oro">
                                <mat-header-cell *matHeaderCellDef mat-sort-header> Oro </mat-header-cell>
                                <mat-cell *matCellDef="let row">
                                    <mat-form-field color="accent" style="text-align: center; width: 40%;right: 8px;" appearance="legacy" [style.fontSize.px]="12">
                                        <mat-select [(ngModel)]="row.oro">
                                            <mat-option value="">--Seleccione--</mat-option>
                                            <mat-option [value]="o.id" *ngFor="let o of listOro">{{o.nombre}}</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                    <mat-form-field color="accent" style="text-align: center; width: 40%;" appearance="legacy" [style.fontSize.px]="12">
                                        <input matInput type="number" [(ngModel)]="row.nrooro">
                                    </mat-form-field>
                                </mat-cell>
                            </ng-container>
                            <ng-container matColumnDef="servicioPropuesto_plata">
                                <mat-header-cell *matHeaderCellDef mat-sort-header> Plata </mat-header-cell>
                                <mat-cell *matCellDef="let row">
                                    <mat-form-field color="accent" style="text-align: center; width: 40%;right: 8px;" appearance="legacy" [style.fontSize.px]="12">
                                        <mat-select [(ngModel)]="row.plata">
                                            <mat-option value="">--Seleccione--</mat-option>
                                            <mat-option [value]="o.id" *ngFor="let o of listPlata">{{o.nombre}}</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                    <mat-form-field color="accent" style="text-align: center; width: 40%;" appearance="legacy" [style.fontSize.px]="12">
                                        <input matInput type="number" [(ngModel)]="row.nroplata">
                                    </mat-form-field>
                                </mat-cell>
                            </ng-container>


                            <ng-container matColumnDef="servicioPropuesto_bronce">
                                <mat-header-cell *matHeaderCellDef mat-sort-header> Bronce </mat-header-cell>
                                <mat-cell *matCellDef="let row">
                                    <mat-form-field color="accent" style="text-align: center; width: 40%;right: 8px;" appearance="legacy" [style.fontSize.px]="12">
                                        <mat-select [(ngModel)]="row.bronce">
                                            <mat-option value="">--Seleccione--</mat-option>
                                            <mat-option [value]="o.id" *ngFor="let o of listBronce">{{o.nombre}}</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                    <mat-form-field color="accent" style="text-align: center; width: 40%;" appearance="legacy" [style.fontSize.px]="12">
                                        <input matInput type="number" [(ngModel)]="row.nrobronce">
                                    </mat-form-field>
                                </mat-cell>
                            </ng-container>


                            <!--Equipos-->
                            <ng-container matColumnDef="equipos_equipoterminal">
                                <mat-header-cell *matHeaderCellDef mat-sort-header>Equipo Terminal</mat-header-cell>
                                <mat-cell *matCellDef="let row">
                                    <mat-form-field color="accent" style="text-align: center; width: 80%;" appearance="legacy" [style.fontSize.px]="12">
                                        <input matInput [(ngModel)]="row.equipoterminal" type="text" maxlength="100">
                                    </mat-form-field>
                                </mat-cell>
                            </ng-container>
                            <ng-container matColumnDef="equipos_routers">
                                <mat-header-cell *matHeaderCellDef mat-sort-header>Router</mat-header-cell>
                                <mat-cell *matCellDef="let row">
                                    <mat-form-field color="accent" style="text-align: center; width: 80%;" appearance="legacy" [style.fontSize.px]="12">
                                        <input matInput [(ngModel)]="row.router" type="text" maxlength="100">
                                    </mat-form-field>
                                </mat-cell>
                            </ng-container>
                            <ng-container matColumnDef="equipos_otros">
                                <mat-header-cell *matHeaderCellDef mat-sort-header> Otros </mat-header-cell>
                                <mat-cell *matCellDef="let element">
                                    <mat-form-field color="accent" style="text-align: center; width: 80%;" appearance="legacy" [style.fontSize.px]="12">
                                        <input matInput type="text" maxlength="100">
                                    </mat-form-field>
                                </mat-cell>
                            </ng-container>
                            <ng-container matColumnDef="equipos_precio">
                                <mat-header-cell *matHeaderCellDef mat-sort-header>Precio</mat-header-cell>
                                <mat-cell *matCellDef="let row">
                                    <mat-form-field color="accent" style="text-align: center; width: 80%;" appearance="legacy" [style.fontSize.px]="12">
                                        <input matInput [(ngModel)]="row.facturacion" type="number" maxlength="100">
                                    </mat-form-field>
                                </mat-cell>
                            </ng-container>
                            <ng-container matColumnDef="equipos_observaciones">
                                <mat-header-cell *matHeaderCellDef mat-sort-header>Observaciones</mat-header-cell>
                                <mat-cell *matCellDef="let row">
                                    <mat-form-field color="accent" style="text-align: center; width: 80%;" appearance="legacy" [style.fontSize.px]="12">
                                        <input matInput [(ngModel)]="row.facturacion" type="text" maxlength="100">
                                    </mat-form-field>
                                </mat-cell>
                            </ng-container>

                            <ng-container matColumnDef="ofertaisis">
                                <mat-header-cell *matHeaderCellDef mat-sort-header>Oferta ISIS</mat-header-cell>
                                <mat-cell *matCellDef="let row">
                                    <mat-form-field color="accent" style="text-align: center; width: 80%;" appearance="legacy" [style.fontSize.px]="12">
                                        <input matInput [(ngModel)]="row.facturacion" type="text" maxlength="100">
                                    </mat-form-field>
                                </mat-cell>
                            </ng-container>

                            <!--sisego-->
                            <ng-container matColumnDef="sesego">
                                <mat-header-cell *matHeaderCellDef mat-sort-header>SISEGO</mat-header-cell>
                                <mat-cell *matCellDef="let row">
                                    <mat-form-field color="accent" style="text-align: center; width: 80%;" appearance="legacy" [style.fontSize.px]="12">
                                        <input matInput [(ngModel)]="row.facturacion" type="text" maxlength="100">
                                    </mat-form-field>
                                </mat-cell>
                            </ng-container>
                            <ng-container matColumnDef="sisego_zona">
                                <mat-header-cell *matHeaderCellDef mat-sort-header> Zona </mat-header-cell>
                                <mat-cell *matCellDef="let row">
                                    <mat-form-field color="accent" style="text-align: center; width: 80%;" appearance="legacy" [style.fontSize.px]="12">
                                        <!-- <mat-label>Selecciona número por Pagina</mat-label> -->
                                        <mat-select [(ngModel)]="row.acccionisis">
                                            <mat-option value="">--Seleccione--</mat-option>
                                            <mat-option [value]="o.id" *ngFor="let o of row.lstZonaSisego">{{o.nom +' - ' + o.dis + ' m'}}</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </mat-cell>
                            </ng-container>
                            <ng-container matColumnDef="sisego_ultimamilla">
                                <mat-header-cell *matHeaderCellDef mat-sort-header>Ultima Mila S/.</mat-header-cell>
                                <mat-cell *matCellDef="let row">
                                    <mat-form-field color="accent" style="text-align: center; width: 80%;" appearance="legacy" [style.fontSize.px]="12">
                                        <input matInput [(ngModel)]="row.facturacion" type="number" maxlength="100">
                                    </mat-form-field>
                                </mat-cell>
                            </ng-container>
                            <ng-container matColumnDef="sisego_diasejecucion">
                                <mat-header-cell *matHeaderCellDef mat-sort-header>Dias de ejecución</mat-header-cell>
                                <mat-cell *matCellDef="let row">
                                    <mat-form-field color="accent" style="text-align: center; width: 80%;" appearance="legacy" [style.fontSize.px]="12">
                                        <input matInput [(ngModel)]="row.facturacion" type="number" maxlength="100">
                                    </mat-form-field>
                                </mat-cell>
                            </ng-container>

                            <ng-container matColumnDef="accion" stickyEnd>
                                <mat-header-cell *matHeaderCellDef> </mat-header-cell>
                                <mat-cell *matCellDef="let row">
                                    <mat-menu #appMenu="matMenu">
                                        <button style="font-size: 12px;" mat-menu-item (click)="deleteRow(row)"> Eliminar</button>
                                    </mat-menu>
                                    <button style="cursor:pointer;color: #2493B4;" mat-icon-button [matMenuTriggerFor]="appMenu">
                                        <mat-icon>more_vert</mat-icon>
                                    </button>
                                </mat-cell>
                            </ng-container>

                            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
                        </mat-table>
                        <mat-paginator [hidePageSize]="true" [showFirstLastButtons]="false" color="accent" [pageSizeOptions]="[5, 10, 15]"></mat-paginator>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-10 col-xs-2 text-right">
                    <button class="btn btn-md btn-guardar">Guardar</button>
                </div>
            </div>
        </div>
    </div>
</div>