.oferta-head {
    margin: 0;
    background: #FFFFFF;
    border-radius: 10px;
    padding: 15px 0;
}

.label-title {
    font-size: 11px;
}

.font-body-oferta {
    font-size: 11px;
}

.content-title-oferta {
    position: absolute;
}

.content-control-oferta {
    height: 65.5px;
}

.padding-none {
    padding: 0;
}

.padding-l-none {
    padding-left: 0;
}

.padding-r-none {
    padding-right: 0;
}

.btn-guardar-oferta {
    padding: 8px 15px;
    font-size: 15px;
    min-width: 160px;
}

.content-btn-guardar {
    line-height: 50px;
    text-align: center;
}

.cliente-nombre {
    font-size: 11px;
    white-space: nowrap;
    line-height: 65px;
}

.btn-ganada {
    font-size: 12px;
    min-width: 100px;
}

.content-btn-ganada {
    line-height: 50px;
}

.section-1 {
    border-right: 1px solid #D8D8D8;
}

.icon {
    font-size: 15px;
}

.space-bottom-oferta {
    margin-bottom: 13px;
    ;
}

.icon-flotante {
    position: absolute;
    margin-top: 2px;
    color: #005B83 !important;
}

.desc-icon-flotante {
    margin-left: 20px;
}

.bg-info {
    background: rgba(0, 169, 224, 0.1);
    border-radius: 5px;
    width: auto !important;
    max-width: 150px;
    margin-bottom: 10px;
}

.bg-info label {
    color: #005B83 !important;
}

.sect-info-proy {
    padding: 10px;
    border: 1px dashed #005B83;
    border-radius: 10px;
    background: #F8F9FA;
}

.text-right {
    text-align: right;
}

.mat-tab-label {
    width: 25% !important;
}

.estado-go {
    color: #fff;
    background: #73DE07;
    padding: 4px 3px;
    border-radius: 15px;
    font-size: 10px;
    font-weight: bold;
}

.opcion-oferta {
    margin-right: 20px;
    position: relative;
    display: inline-block;
    width: auto;
    color: #00A9E0;
    cursor: pointer;
    font-weight: bold;
}

.opcion-oferta .icon {
    line-height: 55px;
    font-size: 15px;
    position: absolute;
    color: #00A9E0 !important;
}

.opcion-oferta span {
    font-size: 14px;
    margin-left: 20px;
}

.btn-download-excel {
    color: #fff;
    cursor: pointer;
    padding: 10px 15px;
    font-weight: normal;
    background: linear-gradient(180deg, #009806 0%, #62CE0E 100%);
}

.bnt-download-excel mat-icon {
    font-size: 15px;
    position: absolute;
    color: #fff;
}

.btn-download-excel label {
    color: #fff;
    margin: 0 10px;
    font-weight: normal;
}

.btn-green-telefonica {
    font-size: 14px;
    min-width: 100px;
    border: 1px solid #62CE0E;
    box-sizing: border-box;
    border-radius: 4px;
    color: white;
    font-family: TelefonicaLight;
    background: #5BC500;
}

.contetnt-shared {
    background: #FFFFFF;
    box-shadow: -1px 0px 6px 3px rgba(28, 30, 31, 0.1);
    padding: 10px;
}

.contetnt-shared div h1 {
    font-size: 16px;
    font-weight: bold;
}

.contetnt-shared div .url {
    border: 1px solid #ccc;
    font-size: 12px;
    min-height: 36px;
    margin-bottom: 10px;
    border-radius: 4px;
    line-height: 36px;
    color: #6d6666;
    padding: 0 10px;
}

.mytab-oferta {
    background: #fff;
    padding: 15px 20px;
    border-radius: 4px;
}

.opciones-oferta {
    background: #fff;
    margin-bottom: 15px;
    height: auto;
    line-height: 55px;
    border-radius: 4px;
}

.icon-personalizado {
    line-height: 22px;
    margin-right: 5px;
    color: #00a9e0 !important;
}

.button-personalizado {
    position: relative;
    display: inline-block;
    width: auto;
    color: #00a9e0 !important;
    cursor: pointer;
    font-weight: 700;
}

.btn-descargar {
    background: transparent;
    border-radius: 4px;
    color: #62CE0E !important;
    min-width: 110px;
    outline: none !important;
    font-size: 12px;
    border: 1px solid #62CE0E !important;
    min-height: 26px;
}

.full-screen-modal .mat-dialog-container {
    max-width: none;
}

.full-screen-modal_pe .mat-dialog-container{
    padding: 0px !important;
  }
  
  
  .full-screen-modal_pe .mat-dialog-container app-planta-externa .mat-dialog-content{
    margin: 0 !important;
    padding: 0px 0px 25px 0px;
  }